<div class="container-fluid" id="demo-page">
    <article class="si-article">
        <p class="si-info">最基础的卡片容器，可承载文字、列表、图片、段落，也可以配合其它组件一起使用，常用于后台概览页面。</p>
        <h4>代码示例<i class="fa fa-code"></i></h4>
        <section class="code-box">
            <section class="code-box-demo">
                <div class="si-card">
                    <div class="si-card-header"></div>
                    <div class="si-card-body"></div>
                </div>
            </section>
            <section class="code-box-meta">
                <div class="code-box-title">
                    <!-- 组件名 -->
                </div>
                <div>
                    <p>
                        <!-- 组件描述 -->
                    </p>
                </div>
                <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top"><i class="fa fa-code"></i></span>
            </section>
            <section class="code-box-wrapper">
                <pre><code class="language-markup">
            <!-- 组件html代码 -->
          </code><code class="language-javascript">
            <!-- 组件js代码 -->
          </code></pre>
                <div class="code-box-wrapper-close">
                    <i class="fa fa-angle-double-up"></i>
                </div>
            </section>
        </section>
    </article>
</div>