section {
    position: relative;
}

pre {
    padding: 0;
    margin: 0;
    border: none;
    background: #fff;
}

code {
    background: #f7f7f7;
    margin: 0 2px;
    padding: .2em .4em;
    border: 1px solid #eee;
    border-radius: 3px;
    font-family: Lucida Console, Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
}

a code[class*="language-"]{
    color: #2d8cf0;
}

.btn {
    margin-bottom: 5px;
}

label .btn {
    margin-bottom: 0;
}

.si-container-page{
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 20px 10px;
    /* overflow: hidden; */
}

.si-article>h4 {
    margin: 15px 0;
    color: #555;
}

.si-article>h4 i {
    margin-left: 5px;
    color: #999;
}

.si-info {
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #d0eef9;
    border: 1px solid #9fe4fd;
    border-radius: 4px;
}

.si-warning {
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #fff5e6;
    border: 1px solid #ffebcc;
    border-radius: 4px;
}

.si-warning i {
    color: #f90;
    margin-right: 5px;
}

.si-callout {
    margin: 10px 0;
    padding: 15px 20px;
    border-left: 4px solid #999;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #fff;
    color: #555;
    font-size: 13px;
}

.si-callout .si-callout-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 10px;
}
.si-callout i{
    margin: 0 5px;
}

.si-callout.warning {
    border-left-color: #ff9800;
    background-color: #fff5e6;
}

.si-callout.info {
    border-left-color: #84bdf9;
    background-color: #eaf4fe;
}

.si-callout li {
    margin-bottom: 5px;
}

.si-callout li:last-of-type {
    margin-bottom: 0;
}

.code-box {
    position: relative;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 4px;
    display: inline-block;
    margin: 0 0 16px;
    zoom: 1;
    background: #fff;
    /* -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14); */
    -webkit-transition: -webkit-box-shadow .3s ease-in-out;
    -o-transition: box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
}

.code-box:hover {
    -webkit-box-shadow: 0 2px 7px rgba(0,0,0,.15);
    box-shadow: 0 2px 7px rgba(0,0,0,.15);
    border-color: transparent;
}

.code-box pre code {
    background: #fff;
    border: none;
    margin: 0;
    color: #4e4e4e;
}

.code-box-demo {
    border-bottom: 1px solid #e9e9e9;
    padding: 20px 16px 40px;
}
.code-box-demo.code-box-demo-sm{
    padding: 10px 16px 20px;
}

.code-box-demo:before,
.code-box-demo:after {
    content: "";
    display: table;
}

.code-box-demo:after {
    clear: both;
}

.code-box-demo>.si-form-block:last-of-type {
    margin-bottom: 0;
}

.code-box-demo-title {
    margin-bottom: 8px;
    list-style: square;
}

.code-box-meta {
    position: relative;
    padding: 20px 16px;
    color: rgba(0, 0, 0, .65);
}

.code-box.expend .code-box-meta {
    border-bottom: 1px dashed #e9e9e9;
}

.code-box-meta p {
    font-size: 13px;
    line-height: 1.8;
}

.code-box-title {
    position: absolute;
    top: -13px;
    padding: 1px 8px;
    margin-left: -8px;
    background: #fff;
    font-weight: bold;
}

.code-icon {
    position: absolute;
    cursor: pointer;
    color: #848181;
    line-height: 16px;
    -webkit-transition: scale .3s linear;
    -o-transition: scale .3s linear;
    transition: scale .3s linear;
}

.code-icon:hover {
    color: #000000;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.code-expand-icon {
    right: 16px;
}

.code-copy-icon {
    font-size: 13px;
    right: 40px;
}

.code-box-wrapper {
    display: none;
    padding: 20px 16px;
}

.code-box.expend .code-box-wrapper {
    display: block;
}

.code-box-wrapper-close {
    position: absolute;
    bottom: 0;
    padding: 5px 0;
    text-align: center;
    cursor: pointer;
    left: 0;
    right: 0;
    color: #666;
    line-height: normal;
}

.code-box-wrapper-close:hover {
    color: #a6d0f8;
}

pre[class*="language-"] {
    overflow: auto;
}
.code-demo {
    padding: 0 8px;
}
.code-box-demo table.code-box-table {
    font-family: Consolas,Menlo,Courier,monospace;
    font-size: 12px;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #e9e9e9;
    /* width: 100%; */
}

.code-box-demo table.code-box-table th {
    background: #f7f7f7;
    white-space: nowrap;
    color: #5c6b77;
    font-weight: 600
}

.code-box-demo table.code-box-table td,.code-box-demo table.code-box-table th {
    border: 1px solid #e9e9e9;
    padding: 8px 16px;
    text-align: left
}

.code-box-demo table.code-box-table td ul li {
    font-size: 12px!important
}
.title{
    font-size: 16px;
    font-weight: 600;
    margin: 5px 0 10px;
    color: #555;
}

.demo-content{
    margin-top: 20px;
    padding: 0 20px;
}
.demo-date{
    background: #f7f7f7;
    border: 1px solid #eee;
    padding: 2px 5px;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 3px;
}
.demo-date i{
    margin-right: 5px;
}
.ul-circle{
    padding-left: 15px;
}
.ul-circle li{
    position: relative;
    list-style: disc;
    padding: 5px 0;
    font-size: 20px;
}
.ul-circle li.no-style{
    list-style: none;
}
.ul-circle li.add{
    color: #08e073;
}
.ul-circle li.cancel{
    color: #ed3f14;
}
.ul-circle li.warning{
    color: #f90;
}
.ul-circle li.fix{
    color: #2d8cf0;
}
.ul-circle li>i{
    position: absolute;
    font-size: 15px;
    left: -22px;
    line-height: 30px;
}
.ul-circle li span{
    color: #333;
    font-size: 14px;
}
.doc-row{
    background-image: linear-gradient(90deg,#f5f5f5 4.16666667%,transparent 0,transparent 8.33333333%,#f5f5f5 0,#f5f5f5 12.5%,transparent 0,transparent 16.66666667%,#f5f5f5 0,#f5f5f5 20.83333333%,transparent 0,transparent 25%,#f5f5f5 0,#f5f5f5 29.16666667%,transparent 0,transparent 33.33333333%,#f5f5f5 0,#f5f5f5 37.5%,transparent 0,transparent 41.66666667%,#f5f5f5 0,#f5f5f5 45.83333333%,transparent 0,transparent 50%,#f5f5f5 0,#f5f5f5 54.16666667%,transparent 0,transparent 58.33333333%,#f5f5f5 0,#f5f5f5 62.5%,transparent 0,transparent 66.66666667%,#f5f5f5 0,#f5f5f5 70.83333333%,transparent 0,transparent 75%,#f5f5f5 0,#f5f5f5 79.16666667%,transparent 0,transparent 83.33333333%,#f5f5f5 0,#f5f5f5 87.5%,transparent 0,transparent 91.66666667%,#f5f5f5 0,#f5f5f5 95.83333333%,transparent 0);
    margin-bottom: 8px;
}
.doc-col{
    padding: 30px 0;
    color: #fff;
    text-align: center;
    font-size: 18px;
    background-color: rgba(0,153,229,.7);
}
.doc-col.light{
    background-color: rgba(0,153,229,.5);
}
.doc-row.light .doc-col{
    background-color: rgba(0,153,229,.5);
}
.doc-row.light .doc-col.light{
    background-color: rgba(0,153,229,.3);
}