<div class="container-fluid" id="col-row-replace-page">
    <article class="si-article">
        <p class="si-warning"><i class="fa fa-exclamation-circle"></i>栅格布局由<code>12</code>变为<code>24</code>代码替换方法。</p>
    </article>
    <section class="code-box">
        <section class="code-box-demo code-box-demo-sm"></section>
        <section class="code-box-meta">
            <div class="code-box-title">
                第一步
            </div>
            <div>
                <p>
                   1、下载Nodejs安装包并安装。<a href="/static/tools/node-v10.5.0-x64.msi">node安装包下载地址</a>
                </p>
                <p>
                    2、下载替换脚本并解压。<a href="/static/tools/col-row-replace.zip">脚本下载地址</a>
                </p>
            </div>
        </section>
        <section class="code-box-demo code-box-demo-sm"></section>
        <section class="code-box-meta">
            <div class="code-box-title">
                第二步
            </div>
            <div>
                <p>
                    1、打开命令行工具（CMD）,并打开到脚本所在目录。
                </p>
                <p>
                    2、确定需要替换的项目文件目录（页面代码所在目录）。
                </p>
                <p>
                    3、运行命令<code>node index 页面文件目录</code>。
                </p>
            </div>
        </section>
        <section class="code-box-demo code-box-demo-sm">
            <img src="/static/image/col-row-replace.gif">
        </section>
    </section>
</div>