<div class="container-fluid" id="demo-page">
    <article class="si-article">
        <p class="si-warning"><i class="fa fa-exclamation-circle"></i>暂不支持router路由</p>
        <section class="code-box">
            <div class="demo-content">
                <ul class="si-timeline">
                    <li class="si-timeline-item">
                        <div class="si-timeline-item-tail"></div>
                        <div class="si-timeline-item-head si-timeline-item-head-primary"></div>
                        <div class="si-timeline-item-content">
                            <p class="title">1.2.4</p>
                            <p class="demo-date">2018-07-05</p>
                            <p class="demo-date" title="下载" data-toggle="tooltip" data-placement="bottom">
                                <a href="/static/release/sineui-1.2.4.zip">
                                    <i class="fa fa-download"></i>sineui-1.2.4.zip
                                </a>
                            </p>
                            <ul class="ul-circle">
                                <li class="warning no-style"><i class="fa fa-exclamation-circle"></i><span>栅格结构：每行由原来的<code>12</code>格增加为<code>24</code>格，增加布局的精准度。本更新需对原代码进行替换。<a href="#/update/col-row">代码替换方法</a></span></li>
                                <li class="add"><span>表格<code>table</code>：表格样式优化；增加列定宽表格，超出列宽<code>...</code>省略；表格增加固定列。</span></li>
                                <li class="fix"><span>日期选择器：修复日期选择器点击日期图标无效的bug。</span></li>
                                <li class="fix"><span>表单<code>form</code>：修复表单组件<code>load</code>方法文本域无效的bug。</span></li>
                            </ul>
                        </div>
                    </li>
                    <li class="si-timeline-item">
                        <div class="si-timeline-item-tail"></div>
                        <div class="si-timeline-item-head si-timeline-item-head-primary"></div>
                        <div class="si-timeline-item-content">
                            <p class="title">1.2.3</p>
                            <p class="demo-date">2018-06-26</p>
                            <p class="demo-date" title="下载" data-toggle="tooltip" data-placement="bottom">
                                <a href="/static/release/sineui-1.2.3.zip">
                                    <i class="fa fa-download"></i>sineui-1.2.3.zip
                                </a>
                            </p>
                            <ul class="ul-circle">
                                <li class="add"><span>标签页组件<code>tab</code>：标签页增加操作选项。因该组件目前不在sineUI框架中，请单独下载并在<code>modules</code>中替换。<a href="/static/tab/tab.zip">tab代码下载</a></span></li>
                                <li class="add"><span>表单<code>form</code>：表单<code>load</code>方法支持深度赋值，深赋赋值的组件name属性层级之间通过<code>.</code>连接。</span></li>
                                <li class="fix"><span>树<code>tree</code>：修复下拉树父子级联参数配置，具体参数查看<a href="#/components/tree">树组件</a>demo。</span></li>
                                <li class="fix"><span>表单<code>form</code>：修复表单所有组件初始<code>value</code>参数会触发<code>change</code>事件和表单校验的bug。</span></li>
                                <li class="fix"><span>表单<code>form</code>：修复异步表单组件（<code>selectbox</code>、<code>treebox</code>、<code>combobox</code>、<code>checkbox</code>、<code>radiobox</code>）在数据初始化完成前，无法获取<code>value</code>的bug。</span></li>
                                <li class="fix"><span>表格<code>table</code>：修复<code>check</code>、<code>uncheck</code>方法勾选异常bug。</span></li>
                            </ul>
                        </div>
                    </li>
                    <li class="si-timeline-item">
                        <div class="si-timeline-item-tail"></div>
                        <div class="si-timeline-item-head si-timeline-item-head-primary"></div>
                        <div class="si-timeline-item-content">
                            <p class="title">1.2.2</p>
                            <p class="demo-date">2018-06-14</p>
                            <p class="demo-date" title="下载" data-toggle="tooltip" data-placement="bottom">
                                <a href="/static/release/sineui-1.2.2.zip">
                                    <i class="fa fa-download"></i>sineui-1.2.2.zip
                                </a>
                            </p>
                            <ul class="ul-circle">
                                <li class="add"><span>选择器<code>selectbox</code>：赋值自动过滤不存在<code>value</code>，增加<code>url</code>刷新方法<code>refresh</code>。</span></li>
                                <li class="add"><span>下拉树<code>treebox</code>：赋值自动过滤不存在<code>value</code>，增加<code>url</code>刷新方法<code>refresh</code>。</span></li>
                                <li class="fix"><span>主题：修复滚动时头部折叠引起的页面抖动bug</span></li>
                                <li class="fix"><span>下拉树<code>treebox</code>：修复下拉树<code>load</code>方法忽略<code>number</code>类型数据的bug。</span></li>
                                <li class="fix"><span>表单<code>former</code>：修复表单<code>load</code>方法忽略<code>null</code>的bug。</span></li>
                                <li class="fix"><span>折叠<code>collapse</code>：修改折叠插件。</span></li>
                                <li class="fix"><span>文件上传<code>filebox</code>：修复<code>load</code>方法没有赋值bug。</span></li>
                            </ul>
                        </div>
                    </li>
                    <li class="si-timeline-item">
                        <div class="si-timeline-item-tail"></div>
                        <div class="si-timeline-item-head si-timeline-item-head-primary"></div>
                        <div class="si-timeline-item-content">
                            <p class="title">1.2.1</p>
                            <p class="demo-date">2018-06-05</p>
                            <p class="demo-date" title="下载" data-toggle="tooltip" data-placement="bottom">
                                <a href="/static/release/sineui-1.2.1.zip">
                                    <i class="fa fa-download"></i>sineui-1.2.1.zip
                                </a>
                            </p>
                            <ul class="ul-circle">
                                <li class="add"><span>主题：基础主题调整，增加完善系统功能，修改主题部分配色。前往查看<a href="#layout/layout">主题布局代码</a>对自己的项目进行修改。</span></li>
                            </ul>
                        </div>
                    </li>
                    <li class="si-timeline-item">
                        <div class="si-timeline-item-tail"></div>
                        <div class="si-timeline-item-head si-timeline-item-head-primary"></div>
                        <div class="si-timeline-item-content">
                            <p class="title">1.2.0</p>
                            <p class="demo-date">2018-06-01</p>
                            <p class="demo-date" title="下载" data-toggle="tooltip" data-placement="bottom">
                                <a href="/static/release/sineui-1.2.0.zip">
                                    <i class="fa fa-download"></i>sineui-1.2.0.zip
                                </a>
                            </p>
                            <ul class="ul-circle">
                                <li class="add"><span>全屏<code>fullscreen</code>：增加模块全屏功能。</span></li>
                                <li class="add"><span>表单<code>former</code>：所有表单组件增加<code>getValue</code>取值方法；存在<code>key|value</code>键值对的组件增加<code>getKey</code>取文本方法。</span></li>
                                <li class="add"><span>表单<code>former</code>：单、复选增加<code>wrap</code>参数，控制选项垂直排列。</span></li>
                                <li class="add"><span>文件上传：增加立即上传功能。</span></li>
                                <li class="fix"><span>文件上传：增加删除loading，修复多次删除报错bug；修复多文件同时上传参数传递错误。</span></li>
                                <li class="fix"><span>表单显示调整：<code>form-group-sm</code>下表单元素下间距和字体大小调整。</span></li>
                            </ul>
                        </div>
                    </li>
                    <li class="si-timeline-item">
                        <div class="si-timeline-item-tail"></div>
                        <div class="si-timeline-item-head si-timeline-item-head-primary"></div>
                        <div class="si-timeline-item-content">
                            <p class="title">1.1.0</p>
                            <p class="demo-date">2018-05-24</p>
                            <p class="demo-date" title="下载" data-toggle="tooltip" data-placement="bottom">
                                <a href="/static/release/sineui-1.1.0.zip">
                                    <i class="fa fa-download"></i>sineui-1.1.0.zip
                                </a>
                            </p>
                            <ul class="ul-circle">
                                <li class="add"><span>时间轴<code>timeline</code>：增加时间轴组件。</span></li>
                                <li class="add"><span>表单<code>former</code>：增加表单元素隐藏方法<code>hide</code>、显示方法<code>show</code>。</span></li>
                                <li class="fix"><span>表单校验：隐藏元素不进行校验。</span></li>
                                <li class="fix"><span>表单校验：文本框（域）、密码框校验增加防抖。</span></li>
                                <li class="fix"><span>表单<code>form</code>：修复表单取值<code>data</code>漏掉<code>type="hidden"</code>文本框bug。</span></li>
                            </ul>
                        </div>
                    </li>
                    <li class="si-timeline-item">
                        <div class="si-timeline-item-tail"></div>
                        <div class="si-timeline-item-head si-timeline-item-head-custom si-timeline-item-head-success">
                            <i class="fa fa-trophy"></i>
                        </div>
                        <div class="si-timeline-item-content">
                            <p class="title">1.0.0 第一版</p>
                            <p class="demo-date">2018-05-21</p>
                            <p class="demo-date" title="下载" data-toggle="tooltip" data-placement="bottom">
                                <a href="/static/release/sineui-1.0.0.zip">
                                    <i class="fa fa-download"></i>sineui-1.0.0.zip
                                </a>
                            </p>
                            <ul class="ul-circle">
                                <li class="add"><span><code>sineUI</code>最初完整版本。</span></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </article>
</div>