<div class="container-fluid" id="example-page">
  <div class="row">
    <div class="col-md-12">
      <section class="code-box">
        <section class="code-box-demo">
          <!-- 组件demo -->
          <button type="button" class="btn btn-primary" id="btnJsModal">点击弹窗</button>
          <!-- 组件demo End-->
        </section>
        <section class="code-box-meta">
          <div class="code-box-title">
            <!-- 组件名 -->
            通过 javascript 调用打开
          </div>
          <div>
            <p>
              <!-- 组件描述 -->
              只需一行 JavaScript 代码，即可通过元素的 id myModal 调用模态框：
            </p>
          </div>
          <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top"><i class="fa fa-code"></i></span>
        </section>
        <section class="code-box-wrapper">
          <!-- 组件代码 -->
          <pre class="language-markup"><code class="language-markup">$.dialog(options)</code></pre>
        </section>
      </section>
    </div>
    <div class="col-md-12">
      <section class="code-box">
        <section class="code-box-demo">
          <!-- 组件demo -->
          <button type="button" class="btn btn-primary" id="btnJsConfirm">Confirm</button>
          <button type="button" class="btn btn-danger" id="btnJsDelete">Delete</button>
          <!-- 组件demo End-->
        </section>
        <section class="code-box-meta">
          <div class="code-box-title">
            <!-- 组件名 -->
            确认对话框
          </div>
          <div>
            <p>
              <!-- 组件描述 -->
              使用 $.confirm() 可以快捷地弹出确认框。
            </p>
          </div>
          <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top"><i class="fa fa-code"></i></span>
        </section>
        <section class="code-box-wrapper">
          <!-- 组件代码 -->
        </section>
      </section>
    </div>
    <div class="col-md-12">
      <section class="code-box">
        <section class="code-box-demo">
          <!-- 组件demo -->
          <button type="button" class="btn btn-default" id="btnJsInfo">info</button>
          <button type="button" class="btn btn-default" id="btnJsWarning">warning</button>
          <button type="button" class="btn btn-default" id="btnJsSuccess">success</button>
          <button type="button" class="btn btn-default" id="btnJsError">error</button>
          <!-- 组件demo End-->
        </section>
        <section class="code-box-meta">
          <div class="code-box-title">
            <!-- 组件名 -->
            信息提示
          </div>
          <div>
            <p>
              <!-- 组件描述 -->
              各种类型的信息提示，只提供一个按钮用于关闭。
            </p>
          </div>
          <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top"><i class="fa fa-code"></i></span>
        </section>
        <section class="code-box-wrapper">
          <!-- 组件代码 -->
        </section>
      </section>
    </div>
    <div class="col-md-12">
      <section class="code-box">
        <section class="code-box-demo">
          <!-- 组件demo -->
          <button type="button" class="btn btn-primary" id="btnJsPrompt">Prompt</button>
          <!-- 组件demo End-->
        </section>
        <section class="code-box-meta">
          <div class="code-box-title">
            <!-- 组件名 -->
            信息提示
          </div>
          <div>
            <p>
              <!-- 组件描述 -->
              各种类型的信息提示，只提供一个按钮用于关闭。
            </p>
          </div>
          <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top"><i class="fa fa-code"></i></span>
        </section>
        <section class="code-box-wrapper">
          <!-- 组件代码 -->
          <pre class="language-markup"><code class="language-markup">$.msg('提示内容')</code></pre>
        </section>
      </section>
    </div>
    <div class="col-md-12">
      <section class="code-box">
        <section class="code-box-demo">
          <!-- 组件demo -->
          <button type="button" class="btn btn-primary" id="btnJsLoading">loading</button>
          <!-- 组件demo End-->
        </section>
        <section class="code-box-meta">
          <div class="code-box-title">
            <!-- 组件名 -->
            Loading
          </div>
          <div>
            <p>
              <!-- 组件描述 -->
              只需一行 JavaScript 代码，即可通过元素的 id myModal 调用模态框：
            </p>
          </div>
          <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top"><i class="fa fa-code"></i></span>
        </section>
        <section class="code-box-wrapper">
          <!-- 组件代码 -->
          <pre class="language-markup"><code class="language-markup">$.dialog()</code></pre>
        </section>
      </section>
    </div>
  </div>
</div>
<script src="pages/js/modal/modal.js" charset="utf-8"></script>