.si-btn-load {
    margin-right: 8px;
    animation: rotate 2s linear infinite;
}

.btn {
    &.si-btn-loading {
        pointer-events: none;
        cursor: default;
    }
}
.btn + .btn{
    margin-left:5px;
}

@-webkit-keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}