.si-checkbox{
    @extend .si-radiobox;
    .si-checkbox-disabled {
        cursor: $cursor-disabled;
        color: $gray-light;
        .si-checkbox-inner {
            border-color: $input-bg-disabled;
            background-color: $input-bg-disabled;
            &::after {
                -webkit-animation-name: none;
                animation-name: none;
            }
        }
    }
    .si-checkbox-item{
        margin-right: 8px;
    }
}
.has-error{
    .si-checkbox{
        background-color: $state-danger-bg;
    }
}
.si-checkbox-inner {
    display: inline-block;
    position: relative;
    width: 14px;
    height: 14px;
    top: 0;
    left: 0;
    border: 1px solid $input-border;
    border-radius: 2px;
    -webkit-transition: border-color, background-color .2s ease-in-out;
    -o-transition: border-color, background-color .2s ease-in-out;
    transition: border-color, background-color .2s ease-in-out;
    &::after {
        content: "";
        display: table;
        width: 4px;
        height: 8px;
        position: absolute;
        top: 1px;
        left: 4px;
        border: 2px solid #fff;
        border-top: 0;
        border-left: 0;
        -webkit-transform: rotate(45deg) scale(0);
        -ms-transform: rotate(45deg) scale(0);
        transform: rotate(45deg) scale(0);
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out
    }
}
.si-checkbox-input{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
}
.si-checkbox-checked {
    .si-checkbox-inner {
        border-color: $input-border-focus;
        background-color: $input-border-focus;
        &::after {
            -webkit-transform: rotate(45deg) scale(1);
            -ms-transform: rotate(45deg) scale(1);
            transform: rotate(45deg) scale(1);
        }
    }
}
.si-checkbox-content{
    @extend .si-radiobox-content;
}
.si-checkbox-wrap{
    .si-checkbox-item{
        display: block;
        margin-bottom: 5px;
    }
}