
.si-filebox {
    position: relative;
    label,
    .btn {
        margin-bottom: 0;
    }
    .si-filebox-input {
        display: none;
    }
    .si-filebox-upload-btn {
        margin-left: 10px;
    }
}
.has-error{
    .si-filebox{
        background-color: $state-danger-bg;
    }
}
.webuploader-container {
    position: relative;
    display: inline-block;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick{
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-info;
}
.si-uploader-body{
    font-size: $font-size-small;
    overflow: auto;
	padding-bottom: 50px;
    height: 100%;
    .si-uploader-queue{
        margin: 0 40px;
        .uploader-queue-item{
            .form-group{
                margin: 5px 0;
            }
            .uploader-filename,.uploader-progress-num{
                margin-right: 10px;
            }
            .uploader-progress{
                display:inline-block; 
                width:100%; 
                height:5px; 
                background-color:#ddd;
                border:none;
                vertical-align:middle;
                padding:0;
           }
           .uploader-progress-desc{
               margin-left: 10px;
               color: $state-info-text;
           }
           .uploader-progress-bar{
               width:0;
               height:100%;
               background-color: $filebox-item-progress-bg;
           }
        }
    }
    .uploader-item-left{
        width: 70px;
        height: 70px;
        float: left;
        margin-top: 10px; 
        text-align: center;
        img{
            width: 100%;
            height: 100%;
        }
        i{
            font-size: $font-size-h2;
            line-height: 70px;
            color: $brand-primary;
        }
    }
    .uploader-item-right{
        width: 470px;
        float: right;
        margin-top: 10px; 
    }
}
.file-list .file-list-item{
    height: 30px;
    line-height: 30px;
    width: 300px;
    list-style: none;
    overflow: hidden;
}
.file-remove,.file-download{
    cursor:pointer;
    line-height:24px;
    padding:0 10px;
    float: right;
}
.delfileBtn{
    line-height:24px;
    padding:0 18px;
    font-size:12px;
    color:#666;
    cursor:pointer;
    text-decoration:none;
    float: right;
}
.file-download:hover{
    color: #0099FF;
}
.file-remove:hover,.delfileBtn:hover{
    color: #FF3300;
}
.si-uploader-fix{
    width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
	padding-bottom:10px;
    background-color: #fff;
    button{
        margin-left: 5px;
        margin-bottom: 0;
    }
}
.file-list-item{
    margin: 3px 0;
    padding: 0 5px;
    color: #666;
    line-height: 24px;
}