.form-horizontal {
    .si-checkbox,
    .si-radiobox,
    {
        padding-top: 7px;
    }
    .si-switchbox {
        margin-top: 5px;
    }
}

.control-label {
    font-weight: normal;
    &.si-form-required::before{
        content: '*';
        display: inline-block;
        margin-right: 4px;
        font-size: 12px;
        color: $state-danger-text;
        font-family: SimSun;
    }
}

.form-block {
    margin-bottom: 18px;
    display: inline-block;
}

.form-group .form-block {
    margin-bottom: 0;
}

.form-attach {
    position: absolute;
}
.form-columns{
    .control-label{
        float: left;
        text-align: right;
        line-height: 30px;
        font-weight: normal;
    }
    .form-group{
        margin-bottom: 5px;
    }
}
input[type="radio"],
input[type="checkbox"] {
    margin: 0;
    margin-top: 0;
}

[class^=btsp-] {
    height: 34px;
    width: 100%;
    background-color: #eee;
    border: none;
}

.form-control {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    &:hover {
        border-color: $input-border-focus;
    }
    &[disabled]:hover {
        border-color: $input-bg-disabled;
    }
    &[readonly] {
        background-color: $input-bg;
        cursor: $cursor-disabled;
    }
}

.has-success {
    .form-control:hover {
        border-color: $state-success-text;
    }
}

.has-error {
    .form-control:hover {
        border-color: $state-danger-text;
    }
}

.has-warning {
    .form-control:hover {
        border-color: $state-warning-text;
    }
}

.form-block .help-block {
    position: absolute;
    margin: 0;
    font-size: $font-size-small;
}

.si-overflow-el{
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
}
.si-placeholder {
    color: $input-color-placeholder;
}

.form-control{
    &.has-icon-right{
        position: relative;
        padding-right: 24px;
    }
    &.has-icon-left{
        position: relative;
        padding-left: 24px;
    }
}

.form-control-icon {
    position: absolute;
    top: 50%;
    right: 8px;
    line-height: 1;
    font-size: $font-size-base;
    margin-top: -$font-size-base/2;
    color: #666;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:last-of-type {
        display: none;
        cursor: pointer;
    }
}
.si-dropdown{
    margin: 5px 0;
    padding: 5px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: $zindex-dropdown;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
    background-color: $dropdown-bg;
}
.si-show-clear:hover {
    .form-control-icon {
        &:first-of-type {
            display: none;
        }
        &:last-of-type {
            display: inline-block;
        }
    }
}
.si-form-readonly:hover,.si-form-disabled:hover {
    .form-control-icon {
        &:first-of-type {
            display: inline-block;
        }
        &:last-of-type {
            display: none;
        }
    }
}