.form-horizontal {
    .si-checkbox,
    .si-radiobox,
    {
        padding-top: 7px;
    }
    .si-switchbox {
        margin-top: 5px;
    }
}

.control-label {
    font-weight: normal;
}

.form-block {
    margin-bottom: 18px;
    display: inline-block;
}

.form-group .form-block {
    margin-bottom: 0;
    display: block;
}

.form-attach {
    position: absolute;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0;
    margin-top: 0;
}

[class^=btsp-] {
    height: 34px;
    width: 100%;
    background-color: #eee;
    border: none;
}

.form-control {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    &:hover {
        border-color: $input-border-focus;
    }
    &[disabled]:hover {
        border-color: $input-bg-disabled;
    }
    &[readonly] {
        background-color: $input-bg;
        cursor: $cursor-disabled;
    }
}

.has-success {
    .form-control:hover {
        border-color: $state-success-text;
    }
}

.has-error {
    .form-control:hover {
        border-color: $state-danger-text;
    }
}

.has-warning {
    .form-control:hover {
        border-color: $state-warning-text;
    }
}

.form-block .help-block {
    position: absolute;
    margin: 0;
    font-size: $font-size-small;
}

.si-checkbox,
.si-radiobox {
    label {
        font-weight: normal;
        cursor: pointer;
    }
}

.si-checkbox-item,
.si-radiobox-item {
    margin-right: 8px;
}

.si-checkbox-inner {
    display: inline-block;
    position: relative;
    width: 14px;
    height: 14px;
    top: 0;
    left: 0;
    border: 1px solid $input-border;
    border-radius: 2px;
    -webkit-transition: border-color, background-color .2s ease-in-out;
    -o-transition: border-color, background-color .2s ease-in-out;
    transition: border-color, background-color .2s ease-in-out;
    &::after {
        content: "";
        display: table;
        width: 4px;
        height: 8px;
        position: absolute;
        top: 1px;
        left: 4px;
        border: 2px solid #fff;
        border-top: 0;
        border-left: 0;
        -webkit-transform: rotate(45deg) scale(0);
        -ms-transform: rotate(45deg) scale(0);
        transform: rotate(45deg) scale(0);
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out
    }
}

.si-radiobox-inner {
    display: inline-block;
    position: relative;
    width: 14px;
    height: 14px;
    top: 0;
    left: 0;
    border: 1px solid $input-border;
    border-radius: 50%;
    -webkit-transition: border-color, background-color .2s ease-in-out;
    -o-transition: border-color, background-color .2s ease-in-out;
    transition: border-color, background-color .2s ease-in-out;
    &::after {
        content: "";
        display: table;
        width: 8px;
        height: 8px;
        position: absolute;
        top: 2px;
        left: 2px;
        border-radius: 50%;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out
    }
}

.si-checkbox-input,
.si-radiobox-input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
}

.si-radiobox-input {
    border-radius: 50%;
}

.si-checkbox-content,
.si-radiobox-content {
    display: inline-block;
    outline: none;
    position: relative;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    margin-right: 3px;
}

.si-checkbox-checked {
    .si-checkbox-inner {
        border-color: $input-border-focus;
        background-color: $input-border-focus;
        &::after {
            -webkit-transform: rotate(45deg) scale(1);
            -ms-transform: rotate(45deg) scale(1);
            transform: rotate(45deg) scale(1);
        }
    }
}

.si-radiobox-checked {
    .si-radiobox-inner {
        border-color: $input-border-focus;
        &::after {
            background-color: $input-border-focus;
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
        }
    }
}

.si-checkbox .si-checkbox-disabled {
    cursor: $cursor-disabled;
    color: $gray-light;
    .si-checkbox-inner {
        border-color: $input-bg-disabled;
        background-color: $input-bg-disabled;
        &::after {
            -webkit-animation-name: none;
            animation-name: none;
        }
    }
}

.si-radiobox .si-radiobox-disabled {
    cursor: $cursor-disabled;
    color: $gray-light;
    .si-radiobox-inner {
        border-color: $input-bg-disabled;
        &::after {
            background-color: $input-bg-disabled;
            -webkit-animation-name: none;
            animation-name: none;
        }
    }
}

.si-selectbox {
    position: relative;
    width: 100%;
    &.si-selectbox-readonly {
        .si-selectbox-selection {
            cursor: $cursor-disabled;
        }
    }
    &.si-selectbox-disabled {
        .si-selectbox-selection {
            cursor: $cursor-disabled;
            background-color: $input-bg-disabled;
            &:hover {
                border-color: $input-bg-disabled;
            }
        }
    }
}

.si-selectbox-selected-value,
.si-selectbox-placeholder {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.si-selectbox-placeholder {
    color: $input-color-placeholder;
}

.form-control.si-selectbox-selection {
    cursor: pointer;
    padding-right: 24px;
    position: relative;
}

.si-selectbox-arrow {
    position: absolute;
    top: 50%;
    right: 8px;
    line-height: 1;
    font-size: $font-size-base;
    margin-top: -$font-size-base/2;
    color: #666;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:last-of-type {
        display: none;
        cursor: pointer;
    }
}

.si-selectbox-dropdown {
    position: absolute;
    width: 100%;
    max-height: 200px;
    overflow: auto;
    margin: 5px 0;
    padding: 5px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: $zindex-dropdown;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
    background-color: $dropdown-bg;
}

.si-selectbox-visible {
    .si-selectbox-arrow:first-of-type {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

.si-selectbox-show-clear {
    .si-selectbox-selection:hover {
        .si-selectbox-arrow {
            &:first-of-type {
                display: none;
            }
            &:last-of-type {
                display: inline-block;
            }
        }
    }
}

.si-selectbox-item {
    margin: 0;
    padding: 7px 16px;
    cursor: pointer;
    white-space: nowrap;
    line-height: $headings-line-height;
    color: $dropdown-link-color;
    overflow: hidden;
    -webkit-transition: background .2s ease-in-out;
    -o-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
    &:hover {
        background: $dropdown-link-hover-bg;
    }
    &.si-selectbox-item-disabled {
        color: $input-color-placeholder;
        cursor: $cursor-disabled;
        &:hover {
            background-color: $dropdown-bg;
        }
    }
}

.si-selectbox-single {
    .si-selectbox-item-selected {
        background: $dropdown-link-active-bg;
        color: $dropdown-link-active-color;
        &:hover {
            background: $dropdown-link-active-bg;
        }
        &.si-selectbox-item-disabled {
            background-color: $gray-blue;
            &:hover {
                background-color: $gray-blue;
            }
        }
    }
}

.si-selectbox-multiple {
    .si-selectbox-selection {
        height: auto;
        min-height: $input-height-base;
        .si-tag {
            margin: 0 4px 0 0;
            height: auto;
            line-height: normal;
        }
    }
    .si-selectbox-item-selected {
        color: $dropdown-link-active-bg;
        &::after {
            display: inline-block;
            content: '\f00c';
            font-family: FontAwesome;
            float: right;
            font-size: 13px;
            line-height: $headings-line-height;
        }
    }
}

.slide-up-in {
    -webkit-animation-name: siSlideUpIn;
    animation-name: siSlideUpIn;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.slide-up-out {
    -webkit-animation-name: siSlideUpOut;
    animation-name: siSlideUpIn;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes siSlideUpIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(.8);
        transform: scaleY(.8);
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes siSlideUpIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(.8);
        transform: scaleY(.8);
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@-webkit-keyframes siSlideUpOut {
    0% {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    100% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(.8);
        transform: scaleY(.8);
    }
}

@keyframes siSlideUpOut {
    0% {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    100% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(.8);
        transform: scaleY(.8);
    }
}

.si-switchbox {
    position: relative;
    width: $switch-width;
    height: $switch-height;
    line-height: 22px;
    background-color: $switch-bg;
    border: 1px solid $switch-bg;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    cursor: pointer;
    border-radius: $switch-border-radius;
    display: inline-block;
    &:after {
        content: '';
        width: $switch-after-width;
        height: $switch-after-height;
        border-radius: $switch-after-radius;
        position: absolute;
        margin-top: 1px;
        margin-left: 1px;
        cursor: pointer;
        background-color: $switch-after-bg;
        -webkit-transition: margin-left .2s ease-in-out, width .2s ease-in-out;
        -o-transition: margin-left .2s ease-in-out, width .2s ease-in-out;
        transition: margin-left .2s ease-in-out, width .2s ease-in-out;
    }
    &:active:after {
        width: $switch-after-active-width;
    }
    &.si-switchbox-checked {
        background-color: $switch-checked-bg;
        border-color: $switch-checked-bg;
        &:active:after {
            margin-left: $switch-width - $switch-after-active-width -3;
        }
        &:after {
            margin-left: $switch-width - $switch-after-width -3;
        }
    }
    &.si-switchbox-disabled {
        cursor: not-allowed;
        background-color: $switch-disabled-bg;
        border-color: $switch-disabled-bg;
        &:after {
            cursor: not-allowed;
        }
    }
}

.si-filebox {
    position: relative;
    label,
    .btn {
        margin-bottom: 0;
    }
    .si-filebox-input {
        display: none;
    }
    .si-filebox-upload-btn {
        margin-left: 10px;
    }
}

.si-filebox-list {
    .si-filebox-list-item {
        margin-top: 8px;
        height: $filebox-item-height;
        position: relative;
        padding: 0 35px 0 15px;
        overflow: hidden;
        color: $filebox-item-color;
        background-color: $filebox-item-bg;
        cursor: pointer;
        &:hover {
            background-color: $filebox-item-hover-bg;
        }
        .si-filebox-item-inner {
            display: inline-block;
            line-height: $filebox-item-height;
        }
        i {
            position: absolute;
            line-height: $filebox-item-height;
        }
        .si-filebox-item-type {
            left: 0;
            cursor: default;
        }
        .si-filebox-item-info {
            right: 20px;
            &:hover {
                color: $filebox-item-icon-hover-color;
            }
        }
        .si-filebox-item-remove {
            right: 5px;
            cursor: pointer;
            &:hover {
                color: $filebox-item-icon-hover-color;
            }
        }
        .si-filebox-item-progress {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $filebox-item-progress-bg;
            opacity: .6;
            z-index: 10;
            -webkit-transition: margin-left .2s ease-out;
            -o-transition: margin-left .2s ease-out;
            transition: margin-left .2s ease-out;
        }
        &.si-filebox-item-ready {
            background-color: $filebox-item-progress-bg;
            .si-filebox-item-progress {
                display: none;
            }
        }
        &.si-filebox-item-error {
            color: $filebox-item-error-color;
            cursor: default;
            .si-filebox-item-progress,
            .si-filebox-item-info {
                display: none;
            }
            .si-filebox-item-inner {
                cursor: text;
            }
            i:hover {
                color: $filebox-item-error-color;
            }
        }
    }
}