html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        width: $si-scrollbar-width;
        height: $si-scrollbar-width;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $si-scrollbar-thumb-bg;
        border-top: 5px solid rgba(255, 255, 255, 0);
        border-bottom: 5px solid rgba(255, 255, 255, 0);
        border-right: 4px solid rgba(255, 255, 255, 0);
        border-radius: 3px;
    }
    &::-webkit-scrollbar-track {
        background-color: $si-scrollbar-track-bg;
    }
}

a {
    text-decoration: none;
    &[data-toggle="collapse"][aria-expanded="true"] .caret {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

.caret {
    -webkit-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
}

.si-loading {
    -webkit-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

.si-loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 2px;
    z-index: 2000;
    opacity: 0;
    background-color: $si-loading-bar-color;
    -webkit-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

.si-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: $body-bg;
}

.si-sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: $sidebar-width;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    z-index: 3;
    background-color: $sidebar-bg;
    color: $sidebar-font-color;
    z-index: $zindex-sidebar;
    -webkit-box-shadow: $sidebar-box-shadow;
    box-shadow: $sidebar-box-shadow;
    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
    }
    .logo {
        position: relative;
        padding: 15px;
        z-index: 4;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            height: 1px;
            left: 10%;
            width: 80%;
            background-color: rgba(180, 180, 180, 0.3);
        }
        .simple-text {
            padding: 5px 0;
            display: block;
            font-size: 18px;
            text-align: center;
            font-weight: 400;
            line-height: 30px;
            color: $sidebar-font-color;
        }
    }
    .user {
        padding: 10px 0;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            height: 1px;
            left: 10%;
            width: 80%;
            background-color: rgba(180, 180, 180, 0.3);
        }
        .link {
            text-align: center;
            padding: 10px 15px;
        }
        a {
            -webkit-transition: all 300ms linear;
            -o-transition: all 300ms linear;
            transition: all 300ms linear;
            color: #6c7582;
            text-align: center;
            font-size: 20px;
            padding: 0 5px;
            line-height: 23px;
            &:hover {
                color: $sidebar-font-color;
                font-size: 22px;
            }
        }
    }
    .sidebar-wrapper {
        position: absolute;
        top: 70px;
        bottom: 0;
        padding-bottom: 10px;
        width: $sidebar-width;
        z-index: 4;
        overflow-y: scroll;
        .nav {
            margin-top: 15px;
            -webkit-transition: all 300ms linear;
            -o-transition: all 300ms linear;
            transition: all 300ms linear;
            [data-toggle="collapse"]~div>ul>li>a {
                padding-left: 50px;
            }
            a {
                -webkit-transition: all 150ms ease-in;
                -o-transition: all 150ms ease-in;
                transition: all 150ms ease-in;
            }
            p {
                margin: 0;
                line-height: 30px;
                -webkit-transition: all 300ms linear;
                -o-transition: all 300ms linear;
                transition: all 300ms linear;
                white-space: nowrap;
                .caret {
                    margin-top: 13px;
                    position: absolute;
                    right: 18px;
                }
            }
            .caret {
                margin-top: 8px;
                position: absolute;
                right: 18px;
            }
            i {
                font-size: 24px;
                float: left;
                margin-right: 15px;
                line-height: 30px;
                width: 30px;
                text-align: center;
                color: $sidebar-icon-color;
                &.sub-icon {
                    margin-right: 5px;
                    font-size: 16px;
                    line-height: normal;
                }
            }
            .sub-name {
                margin-left: 5px;
                font-size: 13px;
                color: rgba(0, 0, 0, .5);
            }
            li {
                &>a {
                    margin: 10px 15px 0;
                    color: $sidebar-font-color;
                    border-radius: 3px;
                    -webkit-transition: all 0.3s cubic-bezier(0.685, 0.0473, 0.346, 1);
                    -o-transition: all 0.3s cubic-bezier(0.685, 0.0473, 0.346, 1);
                    transition: all 0.3s cubic-bezier(0.685, 0.0473, 0.346, 1);
                }
                &:first-child>a {
                    margin: 0 15px;
                }
                &.active {
                    &>a {
                        color: $sidebar-active-font-color;
                    }
                    &:hover {
                        &>a {
                            background-color: $sidebar-active-bg;
                        }
                        &>[data-toggle="collapse"] {
                            color: $sidebar-font-color;
                            background-color: rgba(200, 200, 200, 0.2);
                            -webkit-box-shadow: none;
                            box-shadow: none;
                        }
                    }
                    &>[data-toggle="collapse"] {
                        color: $sidebar-font-color;
                        background-color: rgba(200, 200, 200, 0.2);
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        i {
                            color: $sidebar-icon-color;
                        }
                    }
                    &>a>i {
                        color: $sidebar-active-font-color;
                    }
                    &>a>.sub-name {
                        color: $sidebar-active-font-color;
                    }
                }
                &:hover>a {
                    background-color: rgba(200, 200, 200, 0.2);
                }
            }
        }
    }
    .sidebar-background {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        &:after {
            position: absolute;
            z-index: 3;
            width: 100%;
            height: 100%;
            content: '';
            background-color: $sidebar-bg;
            display: block;
            opacity: 0.9;
        }
    }
    li.active>a {
        background-color: $sidebar-active-bg;
        -webkit-box-shadow: $sidebar-active-shadow;
        box-shadow: $sidebar-active-shadow;
        color: $sidebar-active-font-color;
    }
}

.si-main-panel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    overflow: scroll;
    background-color: $si-main-panel-bg;
    -webkit-transition: margin-left .3s ease-in-out;
    -o-transition: margin-left .3s ease-in-out;
    transition: margin-left .3s ease-in-out;
    .si-nav-bar {
        position: fixed;
        font-size: $font-size-large;
        padding: 15px 15px;
        width: 100%;
        background-color: #f8f8f8;
        z-index: 10;
        -webkit-box-shadow: 0px 4px 12px -8px rgba(0, 0, 0, .25);
        box-shadow: 0px 4px 12px -8px rgba(0, 0, 0, .25);
        -webkit-transition: all .4s cubic-bezier(.22, .58, .12, .98);
        -o-transition: all .4s cubic-bezier(.22, .58, .12, .98);
        transition: all .4s cubic-bezier(.22, .58, .12, .98);
        &.hiden {
            -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
            transform: translateY(-100%);
        }
    }
    .si-strap {
        position: absolute;
        font-weight: normal;
        color: #666;
        cursor: pointer;
    }
    .si-nav-title {
        width: 100%;
        padding-left: 20px;
        font-weight: bold;
        margin: 0 auto;
    }
    .si-container {
        padding: 65px 0 10px;
        overflow: scroll;
        margin: 0 auto;
        max-width: $si-container-max-width;
    }
    .si-back-top {
        position: fixed;
        bottom: 30px;
        right: 30px;
        line-height: 35px;
        text-align: center;
        font-size: 25px;
        display: none;
        width: 40px;
        height: 40px;
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
        z-index: $zindex-navbar-fixed;
        background-color: rgba(0, 0, 0, .6);
        &:hover {
            background-color: rgba(0, 0, 0, .7);
        }
    }
}

.si-sidebar-unfolded {
    margin-left: 0;
    +.si-main-panel {
        margin-left: $sidebar-width;
    }
}

.si-sidebar-folded {
    margin-left: -$sidebar-width;
    -webkit-box-shadow: none;
    box-shadow: none;
    +.si-main-panel {
        margin-left: 0;
    }
}

@media (min-width: $screen-sm-min+1) {
    .si-main-panel {
        margin-left: $sidebar-width;
        .si-strap {
            display: none;
        }
    }
}

@media (max-width: $screen-sm-min) {
    html * {
        &::-webkit-scrollbar {
            width: $si-scrollbar-width/2;
            height: $si-scrollbar-width/2;
        }
        &::-webkit-scrollbar-thumb {
            border-top: 5px solid rgba(255, 255, 255, 0);
            border-bottom: 5px solid rgba(255, 255, 255, 0);
            border-right: 4px solid rgba(255, 255, 255, 0);
            border-radius: 2px;
        }
    }
    .si-sidebar {
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    .si-sidebar-unfolded {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        +.si-main-panel {
            margin-left: 0;
        }
    }
    .si-sidebar-folded {
        +.si-main-panel {
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }
    .si-main-panel {
        .si-nav-bar {
            padding: 10px 15px;
        }
        .si-nav-title {
            padding-left: 0;
            text-align: center;
            font-weight: 500;
        }
        .si-container {
            padding-top: 55px;
        }
        .si-back-top {
            right: 20px;
            bottom: 20px;
        }
    }
}