.si-radiobox {
    label {
        font-weight: normal;
        cursor: pointer;
    }
    .si-radiobox-disabled {
        cursor: $cursor-disabled;
        color: $gray-light;
        .si-radiobox-inner {
            border-color: $input-bg-disabled;
            &::after {
                background-color: $input-bg-disabled;
                -webkit-animation-name: none;
                animation-name: none;
            }
        }
    }
    .si-radiobox-item{
        margin-right: 8px;
        line-height: 19px;
    }
}
.has-error{
    .si-radiobox{
        background-color: $state-danger-bg;
    }
}
.si-radiobox-checked {
    .si-radiobox-inner {
        border-color: $input-border-focus;
        &::after {
            background-color: $input-border-focus;
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
        }
    }
}
.si-radiobox-inner {
    display: inline-block;
    position: relative;
    width: 14px;
    height: 14px;
    top: 0;
    left: 0;
    border: 1px solid $input-border;
    border-radius: 50%;
    -webkit-transition: border-color, background-color .2s ease-in-out;
    -o-transition: border-color, background-color .2s ease-in-out;
    transition: border-color, background-color .2s ease-in-out;
    &::after {
        content: "";
        display: table;
        width: 8px;
        height: 8px;
        position: absolute;
        top: 2px;
        left: 2px;
        border-radius: 50%;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out
    }
}
.si-radiobox-input{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
    border-radius: 50%;
}
.si-radiobox-content {
    display: inline-block;
    outline: none;
    position: relative;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    margin-right: 3px;
}
.si-radiobox-wrap{
    .si-radiobox-item{
        display: block;
        margin-bottom: 5px;
    }
}