.fade-in-to-out {
    animation: fadeInToOut .2s;
}

.fade-out-to-in {
    animation: fadeOutToIn .2s;
}

@-webkit-keyframes fadeInToOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0
    }
}

@keyframes fadeInToOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0
    }
}

@-webkit-keyframes fadeOutToIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1
    }
}

@keyframes fadeOutToIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1
    }
}
.slide-up-in {
    animation-name: siSlideIn;
    animation-duration: .3s;
    animation-fill-mode: both;
    transform-origin: 0 100%;
}

.slide-up-out {
    animation-name: siSlideOut;
    animation-duration: .3s;
    animation-fill-mode: both;
    transform-origin: 0 100%;
}

.slide-down-in {
    animation-name: siSlideIn;
    animation-duration: .3s;
    animation-fill-mode: both;
    transform-origin: 0 0;
}

.slide-down-out {
    animation-name: siSlideOut;
    animation-duration: .3s;
    animation-fill-mode: both;
    transform-origin: 0 0;
}

@keyframes siSlideIn {
    0% {
        opacity: 0;
        transform: scaleY(.8);
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}

@-webkit-keyframes siSlideIn {
    0% {
        opacity: 0;
        transform: scaleY(.8);
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes siSlideOut {
    0% {
        opacity: 1;
        transform: scaleY(1);
    }
    100% {
        opacity: 0;
        transform: scaleY(.8);
    }
}

@-webkit-keyframes siSlideOut {
    0% {
        opacity: 1;
        transform: scaleY(1);
    }
    100% {
        opacity: 0;
        transform: scaleY(.8);
    }
}
.si-spin{
    animation: ani-spin 1s linear infinite;
}
@keyframes ani-spin{
    from { transform: rotate(0deg);}
    50%  { transform: rotate(180deg);}
    to   { transform: rotate(360deg);}
}
@-webkit-keyframes ani-spin{
    from { transform: rotate(0deg);}
    50%  { transform: rotate(180deg);}
    to   { transform: rotate(360deg);}
}