$bs-primary: #2d8cf0 !default;
$bs-success: #5cb85c !default;
$bs-info: #5bc0de !default;
$bs-warning: #f0ad4e !default;
$bs-danger: #d9534f !default;
$bs-orange: #ff9800 !default;
$page-background-color: #ffffff;
$si-scrollbar-width: 6px;
$si-scrollbar-thumb-background-color: #686c6f;
$si-scrollbar-track-background-color: rgba(250,250,250,0);
$si-loading-bar-color: $bs-primary;
$sidebar-width: 260px;
$sidebar-font-color: #3C4858;
$sidebar-icon-color: #a9afbb;
$sidebar-background-color: #ffffff;
$sidebar-active-font-color: #ffffff;
$sidebar-active-background-color: #ff9800;
$sidebar-active-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
