{
  "plugins":[
    "transform-es2015-template-literals"
  ],
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 3 versions",
          "ie 9"
        ]
      }
    }]
  ]
}