{
  "plugins":[
    "transform-es2015-template-literals"
  ],
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 3 versions",
          "ie 9"
        ]
      }
    }]
  ],
  "ignore": [
    "./libs/webuploader/webuploader.js",
    "./libs/webuploader/webuploader.noimage.js"
  ]
}