<div class="container-fluid">
    <article class="si-article">
        <p class="si-info">组件联动器。一个组件通过事件驱动另一个组件进行联动。</p>
        <div class="si-callout info">
            <div class="si-callout-title">组件联动</div>
            <ul>
                <li>一个触发器<code>trigger</code>，一个跟随器（被触发者）<code>follower</code>；</li>
                <li>通过触发器触发某一事件，来执行回调函数；</li>
                <li>使用该联动器旨在统一全局组件之间的联动效果，方便维护和开发。</li>
                <li>具体实例可前往<a href="/pages/list">数据列表页面</a>查看。</li>
            </ul>
        </div>
    </article>
</div>