<div class="container-fluid" id="demo-page">
    <article class="si-article">
        <p class="si-info">级联选择器，从一组相关联的数据集合中进行选择，常用于省市区、公司级层、事务分类等。</p>
        <h4>代码示例<i class="fa fa-code"></i></h4>
        <section class="code-box">
            <section class="code-box-demo">
                <input class="btsp-combobox" data-width="200px" data-options="url:'/pages/data/data3.json'">   
            </section>
            <section class="code-box-meta">
                <div class="code-box-title">
                    基础用法
                </div>
                <div>
                    <p>
                        <!-- 组件描述 -->
                    </p>
                </div>
                <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top"><i class="fa fa-code"></i></span>
            </section>
            <section class="code-box-wrapper">
                <pre><code class="language-markup">
            <!-- 组件代码 -->
            </code></pre>
                <div class="code-box-wrapper-close">
                    <i class="fa fa-angle-double-up"></i>
                </div>
            </section>
        </section>
        <section class="code-box">
            <section class="code-box-demo">
                <input class="btsp-combobox" data-width="200px" data-options="url:'/pages/data/data3.json',transfer:true">
            </section>
            <section class="code-box-meta">
                <div class="code-box-title">
                    <!-- 组件名 -->
                </div>
                <div>
                    <p>
                        <!-- 组件描述 -->
                    </p>
                </div>
                <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top"><i class="fa fa-code"></i></span>
            </section>
            <section class="code-box-wrapper">
                <pre><code class="language-markup">
            <!-- 组件代码 -->
            </code></pre>
                <div class="code-box-wrapper-close"><i class="fa fa-angle-double-up"></i></div>
            </section>
        </section>
    </article>
</div>