<div class="container-fluid" id="filebox-page">
    <article class="si-article">
        <p class="si-info">日期选择器，选择或输入日期，支持年、月、日期等类型，支持选择范围。</p>
        <h4>代码示例<i class="fa fa-code"></i></h4>
        <section class="code-box">
            <section class="code-box-demo">
                <input class="btsp-datebox" data-options="width:'200px'">
                <input class="btsp-daterangebox" data-options="width:'200px'">
            </section>
            <section class="code-box-meta">
                <div class="code-box-title">
                    基础用法
                </div>
                <div>
                    <p>
                        通过<code>class</code>设置<code>datebox</code>和<code>daterangebox</code>来分别显示单日期和双日期组件。
                    </p>
                </div>
                <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top"><i class="fa fa-code"></i></span>
            </section>
            <section class="code-box-wrapper">
                <pre><code class="language-markup">
&lt;input class="btsp-datebox" data-options="width:'200px'"&gt;
&lt;input class="btsp-daterangebox" data-options="width:'200px'"&gt;
              </code></pre>
                <div class="code-box-wrapper-close">
                    <i class="fa fa-angle-double-up"></i>
                </div>
            </section>
        </section>
        <section class="code-box">
            <section class="code-box-demo">
                <input class="btsp-daterangebox" data-options="width:'200px',ranges:true">
            </section>
            <section class="code-box-meta">
                <div class="code-box-title">
                    快捷选择
                </div>
                <div>
                    <p>
                       通过设置<code>ranges</code>为<code>true</code>实现快捷选择设置，仅双日期选择可进行快捷选择，目前仅支持全局快捷操作设置。
                    </p>
                </div>
                <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top"><i class="fa fa-code"></i></span>
            </section>
            <section class="code-box-wrapper">
                <pre><code class="language-markup">
&lt;input class="btsp-daterangebox" data-options="width:'200px',ranges:true"&gt;
              </code></pre>
                <div class="code-box-wrapper-close"><i class="fa fa-angle-double-up"></i></div>
            </section>
        </section>
        <section class="code-box">
            <section class="code-box-demo">
                <input class="btsp-datebox" data-options="width:'200px',readonly:true,value:'2018-04-17'">
                <input class="btsp-daterangebox" data-options="width:'200px',readonly:true,value:'2018-04-11 - 2018-04-17'">
            </section>
            <section class="code-box-meta">
                <div class="code-box-title">
                    只读模式
                </div>
                <div>
                    <p>
                       通过设置<code>readonly</code>为<code>true</code>实现只读模式。
                    </p>
                </div>
                <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top"><i class="fa fa-code"></i></span>
            </section>
            <section class="code-box-wrapper">
                <pre><code class="language-markup">
&lt;input class="btsp-datebox" data-options="width:'200px',readonly:true"&gt;
&lt;input class="btsp-daterangebox" data-options="width:'200px',readonly:true"&gt;
              </code></pre>
                <div class="code-box-wrapper-close"><i class="fa fa-angle-double-up"></i></div>
            </section>
        </section>
        <section class="code-box">
            <section class="code-box-demo">
                <input class="btsp-datebox" data-options="width:'200px',format:'YYYY年MM月DD'">
                <input class="btsp-daterangebox" data-options="width:'200px',format:'YYYY/MM/DD'">
            </section>
            <section class="code-box-meta">
                <div class="code-box-title">
                    日期格式
                </div>
                <div>
                    <p>
                        通过设置<code>format</code>实现日期格式的自定义。
                    </p>
                </div>
                <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top"><i class="fa fa-code"></i></span>
            </section>
            <section class="code-box-wrapper">
                <pre><code class="language-markup">
&lt;input class="btsp-datebox" data-options="width:'200px',format:'YYYY年MM月DD'"&gt;
&lt;input class="btsp-daterangebox" data-options="width:'200px',format:'YYYY/MM/DD'"&gt;
                </code></pre>
                <div class="code-box-wrapper-close"><i class="fa fa-angle-double-up"></i></div>
            </section>
        </section>
    </article>
</div>