<div class="container-fluid" id="filebox-page">
    <article class="si-article">
        <p class="si-info">文件选择上传和拖拽上传控件。</p>
        <p class="si-warning"><i class="fa fa-exclamation-circle"></i>支持上传测试，最多上传3个，单文件大小限制3M，文件切片上传后合并很慢，个人服务器还请理解。</p>
        <div class="si-callout info">
            感谢<a href="https://github.com/fex-team/webuploader" target="_blank"><i class="fa fa-github"></i>WebUploader</a>
        </div>
        <h4>代码示例<i class="fa fa-code"></i></h4>
        <section class="code-box">
            <section class="code-box-demo">
                <input class="btsp-filebox" data-options="id:'file'">
            </section>
            <section class="code-box-meta">
                <div class="code-box-title">
                    简单用法
                </div>
                <div>
                    <p>
                        文件上传，可切片，可断点续传。需先定义几个文件处理<code>url</code>地址。
                    </p>
                </div>
                <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top"><i class="fa fa-code"></i></span>
            </section>
            <section class="code-box-wrapper">
                <pre><code class="language-markup">
&lt;input class="btsp-filebox" data-options="id:'file'"&gt;
              </code></pre>
                <div class="code-box-wrapper-close">
                    <i class="fa fa-angle-double-up"></i>
                </div>
            </section>
        </section>
        <section class="code-box">
            <section class="code-box-demo">
                <input class="btsp-filebox" data-options="id:'file2'">
            </section>
            <section class="code-box-meta">
                <div class="code-box-title">
                    自动上传
                </div>
                <div>
                    <p>
                       <code>fileLoader</code>中<code>auto</code>参数
                    </p>
                </div>
                <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top"><i class="fa fa-code"></i></span>
            </section>
            <section class="code-box-wrapper">
                <pre><code class="language-markup">
&lt;input class="btsp-filebox" data-options="id:'file'"&gt;
              </code></pre>
                <div class="code-box-wrapper-close"><i class="fa fa-angle-double-up"></i></div>
            </section>
        </section>
    </article>
</div>
<script>
    $("#file").filebox({
        fileLoader: {
            fileNumLimit: 3,
            fileSizeLimit: 3*1024*1024,
            uploader: '/zzsoft/uploaddown/chunkUpload.action', //文件提交的地址
            delFileUrl: '/zzsoft/uploaddown/delete.action', //文件删除的地址
            getFileUrl: '/zzsoft/uploaddown/getFileList.action', //获取文件列表
            downloader: '/zzsoft/uploaddown/downFile.action', //文件下载地址
            checkChunkUrl: '/zzsoft/uploaddown/checkChunks.action', // 切片校验地址
            mergeUrl: '/zzsoft/uploaddown/merge.action',//切片合并地址
        }
    })
    $("#file2").filebox({
        fileLoader: {
            auto: true,
            fileNumLimit: 3,
            fileSizeLimit: 3*1024*1024,
            uploader: '/zzsoft/uploaddown/chunkUpload.action', //文件提交的地址
            delFileUrl: '/zzsoft/uploaddown/delete.action', //文件删除的地址
            getFileUrl: '/zzsoft/uploaddown/getFileList.action', //获取文件列表
            downloader: '/zzsoft/uploaddown/downFile.action', //文件下载地址
            checkChunkUrl: '/zzsoft/uploaddown/checkChunks.action', // 切片校验地址
            mergeUrl: '/zzsoft/uploaddown/merge.action',//切片合并地址
        }
    })
</script>