<div class="container-fluid" id="filebox-page">
    <article class="si-article">
        <p class="si-info">文件选择上传和拖拽上传控件。</p>
        <div class="si-callout info">
            感谢<a href="https://github.com/fex-team/webuploader" target="_blank"><i class="fa fa-github"></i>WebUploader</a>
         </div>
        <h4>代码示例<i class="fa fa-code"></i></h4>
        <section class="code-box">
            <section class="code-box-demo">
                <input class="btsp-filebox" data-fileloader="{uploader:'http://localhost:8080/zzsoft/uploaddown/upload.action',formData:{aaa:123}}">
            </section>
            <section class="code-box-meta">
                <div class="code-box-title">
                    <!-- 组件名 -->
                </div>
                <div>
                    <p>
                        <!-- 组件描述 -->
                    </p>
                </div>
                <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top"><i class="fa fa-code"></i></span>
            </section>
            <section class="code-box-wrapper">
                <pre><code>
                <!-- 组件代码 -->
              </code></pre>
                <div class="code-box-wrapper-close">
                    <i class="fa fa-angle-double-up"></i>
                </div>
            </section>
        </section>
        <section class="code-box">
            <section class="code-box-demo">
                <!-- 组件demo -->
            </section>
            <section class="code-box-meta">
                <div class="code-box-title">
                    <!-- 组件名 -->
                </div>
                <div>
                    <p>
                        <!-- 组件描述 -->
                    </p>
                </div>
                <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top"><i class="fa fa-code"></i></span>
            </section>
            <section class="code-box-wrapper">
                <pre><code>
                <!-- 组件代码 -->
              </code></pre>
                <div class="code-box-wrapper-close"><i class="fa fa-angle-double-up"></i></div>
            </section>
        </section>
    </article>
</div>
<script>
    $("#file").filebox({
        fileLoader: {
            uploadSuccess: function(res) {
                console.log(res);
            }
        }
    })
</script>