<div class="container-fluid" id="general-form-page">
    <article class="si-article">
        <p class="si-info">具有数据收集、校验和提交功能的表单，包含复选框、单选框、输入框、下拉选择框等元素。</p>
        <div class="si-callout info">
            <div class="si-callout-title">我们为表单提供了以下两种排列方式：</div>
            <ul>
                <li>水平排列（<code>form-inline</code>、<code>form-columns</code>）：标签和表单控件水平排列；</li>
                <li>垂直排列（<code>form-vertical</code>）：标签和表单控件上下垂直排列；</li>
            </ul>
        </div>
        <h4>代码示例<i class="fa fa-code"></i></h4>
        <section class="code-box">
            <section class="code-box-demo">
                <form class="form-inline form-group-sm" id="form1">
                    <input type="hidden" name="asd">
                    <div class="form-group">
                        <input class="btsp-textbox" data-options="label:'文本框：',name:'a',valid:{required:true}">
                    </div>
                    <div class="form-group">
                        <input class="btsp-selectbox" data-options="label:'下拉框：',name:'b',width:'170px',data:[{key:'请选择',value:''},{key:'选项1',value:'1'},{key:'选项2',value:'2'}],valid:{required:true}">
                    </div>
                    <div class="form-group">
                        <input class="btsp-checkbox" data-options="label:'多选：',name:'c',data:[{key:'选项1',value:'1'},{key:'选项2',value:'2'}],valid:{required:true}">
                    </div>
                </form>
            </section>
            <section class="code-box-meta">
                <div class="code-box-title">
                    行内排列（form-inline）
                </div>
                <div>
                    <p>
                        水平排列的一种形式。
                    </p>
                </div>
                <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top"><i class="fa fa-code"></i></span>
            </section>
            <section class="code-box-wrapper">
                <pre><code class="language-markup">
&lt;form class="form-inline"&gt;
    &lt;div class="form-group"&gt;
        &lt;input class="btsp-textbox" data-options="id:'a',name:'a'"&gt;
    &lt;/div&gt;
    &lt;div class="form-group"&gt;
        &lt;input class="btsp-selectbox" data-options="id:'c',name:'c',width:'150px',data:[{key:'请选择',value:''},{key:'选项1',value:'1'},{key:'选项2',value:'2'}]"&gt;
    &lt;/div&gt;
    &lt;div class="form-group"&gt;
        &lt;input class="btsp-checkbox" data-options="id:'b',name:'b',data:[{key:'选项1',value:'1'},{key:'选项2',value:'2'}]"&gt;
    &lt;/div&gt;
&lt;/form&gt;</code></pre>
                <div class="code-box-wrapper-close"><i class="fa fa-angle-double-up"></i></div>
            </section>
        </section>
        <section class="code-box">
            <section class="code-box-demo">
                <form class="form-columns form-group-sm">
                        <input class="btsp-textbox" data-options="id:'a',name:'a',label:'姓名：',labelWidth: 'col-xs-6 col-sm-4 col-md-2',inputWidth: 'col-xs-12 col-sm-8 col-md-4'">
                        <input class="btsp-radiobox" data-options="id:'c',name:'c',label:'性别：',labelWidth: 'col-xs-6 col-sm-4 col-md-2',inputWidth: 'col-xs-12 col-sm-8 col-md-4',
                            data: [{
                                key:'男',
                                value: '1'
                            },{
                                key:'女',
                                value: '0'
                            }]">
                        <input class="btsp-datebox" data-options="id:'d',name:'d',label:'生日：',labelWidth: 'col-xs-6 col-sm-4 col-md-2',inputWidth: 'col-xs-12 col-sm-8 col-md-4'">
                        <input class="btsp-daterangebox" data-options="id:'e',name:'e',label:'任务日期：',labelWidth: 'col-xs-6 col-sm-4 col-md-2',inputWidth: 'col-xs-12 col-sm-8 col-md-4'">
                        <input class="btsp-selectbox" data-options="id:'f',name:'f',label:'某选项：',labelWidth: 'col-xs-6 col-sm-4 col-md-2',inputWidth: 'col-xs-12 col-sm-8 col-md-4',url: 'pages/data/data4.json',dataField:'list'">
                        <input class="btsp-switchbox" data-options="id:'g',name:'g',label:'是否婚配：',labelWidth: 'col-xs-6 col-sm-4 col-md-2',inputWidth: 'col-xs-12 col-sm-8 col-md-4'">
                        <input class="btsp-checkbox" data-options="id:'b',name:'b',label:'爱好：',labelWidth: 'col-xs-6 col-sm-4 col-md-2',inputWidth: 'col-xs-12 col-sm-8 col-md-10',
                            data: [{
                                key:'打篮球',
                                value: '1'
                            },{
                                key:'踢足球',
                                value: '2'
                            },{
                                key:'电脑游戏',
                                value: '3'
                            },{
                                key:'读书',
                                value: '4'
                            },{
                                key:'玩手机',
                                value: '5'
                            }]">
                </form>
            </section>
            <section class="code-box-meta">
                <div class="code-box-title">
                    网格模式（form-columns)（一对一）
                </div>
                <div>
                    <p>
                        form添加<code>form-columns</code>类开启网格模式。
                    </p>
                    <p>
                        
                    </p>
                </div>
                <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top"><i class="fa fa-code"></i></span>
            </section>
            <section class="code-box-wrapper">
                <pre><code class="language-markup">

                </code></pre>
                <div class="code-box-wrapper-close">
                    <i class="fa fa-angle-double-up"></i>
                </div>
            </section>
        </section>
        <section class="code-box">
            <section class="code-box-demo">
                <form class="form-columns form-group-sm">
                        <input class="btsp-textbox" data-options="label:'姓名：',labelWidth: 'col-xs-6 col-sm-4 col-md-2',inputWidth: 'col-xs-12 col-sm-8 col-md-10'">
                        <input class="btsp-datebox" data-options="label:'生日：',labelWidth: 'col-xs-6 col-sm-4 col-md-2',inputWidth: 'col-xs-12 col-sm-8 col-md-10'">
                        <input class="btsp-daterangebox" data-options="label:'任务日期：',labelWidth: 'col-xs-6 col-sm-4 col-md-2',inputWidth: 'col-xs-12 col-sm-8 col-md-10'">
                        <input class="btsp-selectbox" data-options="label:'某选项：',labelWidth: 'col-xs-6 col-sm-4 col-md-2',inputWidth: 'col-xs-12 col-sm-8 col-md-10',url: 'pages/data/data4.json',dataField:'list'">
                        <input class="btsp-radiobox" data-options="label:'性别：',labelWidth: 'col-xs-6 col-sm-4 col-md-2',inputWidth: 'col-xs-12 col-sm-8 col-md-10',
                            data: [{
                                key:'男',
                                value: '1'
                            },{
                                key:'女',
                                value: '0'
                            }]">
                        <input class="btsp-checkbox" data-options="label:'爱好：',labelWidth: 'col-xs-6 col-sm-4 col-md-2',inputWidth: 'col-xs-12 col-sm-8 col-md-10',
                            data: [{
                                key:'打篮球',
                                value: '1'
                            },{
                                key:'踢足球',
                                value: '2'
                            },{
                                key:'电脑游戏',
                                value: '3'
                            },{
                                key:'读书',
                                value: '4'
                            }]">
                </form>
            </section>
            <section class="code-box-meta">
                <div class="code-box-title">
                    网格模式（form-columns)（一对多）
                </div>
                <div>
                    <p>
                        form添加<code>form-columns</code>类开启网格模式。
                    </p>
                    <p>
                        
                    </p>
                </div>
                <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top"><i class="fa fa-code"></i></span>
            </section>
            <section class="code-box-wrapper">
                <pre><code class="language-markup">
                    
                </code></pre>
                <div class="code-box-wrapper-close">
                    <i class="fa fa-angle-double-up"></i>
                </div>
            </section>
        </section>
        <section class="code-box">
            <section class="code-box-demo">
                <form class="form-vertical form-group-sm">
                    <div class="form-group col-xs-12 col-sm-9">
                        <input class="btsp-textbox" data-options="label:'姓名：'">
                    </div>
                    <div class="form-group col-xs-12 col-sm-9">
                        <input class="btsp-checkbox" data-options="label:'爱好：',
                            data: [{
                                key:'打篮球',
                                value: '1'
                            },{
                                key:'踢足球',
                                value: '2'
                            },{
                                key:'电脑游戏',
                                value: '3'
                            },{
                                key:'读书',
                                value: '4'
                            }]">
                    </div>
                    <div class="form-group col-xs-12  col-sm-9">
                        <input class="btsp-radiobox" data-options="label:'性别：',
                            data: [{
                                key:'男',
                                value: '1'
                            },{
                                key:'女',
                                value: '0'
                            }]">
                    </div>
                    <div class="form-group col-xs-12 col-sm-9">
                        <input class="btsp-datebox" data-options="label:'生日：'">
                    </div>
                    <div class="form-group col-xs-12 col-sm-9">
                        <input class="btsp-daterangebox" data-options="label:'任务日期：'">
                    </div>
                    <div class="form-group col-xs-12 col-sm-9">
                        <input class="btsp-switchbox" data-options="label:'是否婚配：'">
                    </div>
                    <div class="form-group col-xs-12 col-sm-9">
                        <input class="btsp-combobox" data-options="label:'地址：',url: 'pages/data/data3.json'">
                    </div>
                    <div class="form-group col-xs-12 col-sm-9">
                        <input class="btsp-treebox" data-options="label:'权限：',url: 'pages/data/data2.json'">
                    </div>
                    <div class="form-group col-xs-12 col-sm-9">
                        <input class="btsp-filebox" data-options="label:'附件：'">
                    </div>
                    <div class="form-group col-xs-12 col-sm-9">
                        <input class="btsp-textbox" data-options="multiline: true,label:'备注：'">
                    </div>
                </form>
            </section>
            <section class="code-box-meta">
                <div class="code-box-title">
                    网格模式（form-columns)（一对一）
                </div>
                <div>
                    <p>
                        form添加<code>form-columns</code>类开启网格模式。
                    </p>
                    <p>
                        
                    </p>
                </div>
                <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top"><i class="fa fa-code"></i></span>
            </section>
            <section class="code-box-wrapper">
                <pre><code class="language-markup">

                </code></pre>
                <div class="code-box-wrapper-close">
                    <i class="fa fa-angle-double-up"></i>
                </div>
            </section>
        </section>
        <section class="code-box">
            <section class="code-box-demo">
                    <form class="form-vertical form-group-sm">
                        <div class="form-group col-xs-12 col-sm-6">
                            <input class="btsp-textbox" data-options="label:'姓名：'">
                        </div>
                        <div class="form-group col-xs-12 col-sm-6">
                            <input class="btsp-textbox" data-options="label:'别名：'">
                        </div>
                        <div class="form-group col-xs-12 col-sm-6">
                            <input class="btsp-checkbox" data-options="label:'爱好：',
                                data: [{
                                    key:'打篮球',
                                    value: '1'
                                },{
                                    key:'踢足球',
                                    value: '2'
                                },{
                                    key:'电脑游戏',
                                    value: '3'
                                },{
                                    key:'读书',
                                    value: '4'
                                }]">
                        </div>
                        <div class="form-group col-xs-12  col-sm-6">
                            <input class="btsp-radiobox" data-options="label:'性别：',
                                data: [{
                                    key:'男',
                                    value: '1'
                                },{
                                    key:'女',
                                    value: '0'
                                }]">
                        </div>
                        <div class="form-group col-xs-12 col-sm-6">
                            <input class="btsp-datebox" data-options="label:'生日：'">
                        </div>
                        <div class="form-group col-xs-12 col-sm-6">
                            <input class="btsp-daterangebox" data-options="label:'任务日期：'">
                        </div>
                        <div class="form-group col-xs-12 col-sm-6">
                            <input class="btsp-selectbox" data-options="label:'某选项：',url: 'https://easy-mock.com/mock/58ff251d5e43ae5dbea5f48c/sineUI/list',dataField:'list'">
                        </div>
                        <div class="form-group col-xs-12 col-sm-6">
                            <input class="btsp-switchbox" data-options="label:'是否婚配：'">
                        </div>
                        <div class="form-group col-xs-12 col-sm-6">
                            <input class="btsp-combobox" data-options="label:'地址：',url: 'pages/data/data3.json'">
                        </div>
                        <div class="form-group col-xs-12 col-sm-6">
                            <input class="btsp-treebox" data-options="label:'权限：',url: 'pages/data/data2.json'">
                        </div>
                        <div class="form-group col-xs-12 col-sm-12">
                            <input class="btsp-filebox" data-options="label:'附件：'">
                        </div>
                        <div class="form-group col-xs-12 col-sm-12">
                            <input class="btsp-textbox" data-options="multiline: true,label:'备注：'">
                        </div>
                    </form>
            </section>
            <section class="code-box-meta">
                <div class="code-box-title">
                    垂直排列（form-vertical）（一对多）
                </div>
                <div>
                    <p>
                        
                    </p>
                </div>
                <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top"><i class="fa fa-code"></i></span>
            </section>
            <section class="code-box-wrapper">
                <pre><code>
                        <!-- 组件代码 -->
                      </code></pre>
                <div class="code-box-wrapper-close">
                    <i class="fa fa-angle-double-up"></i>
                </div>
            </section>
        </section>
    </article>
</div>
<script src="pages/js/form/general.js" charset="utf-8"></script>