<div class="container-fluid" id="general-form-page">
    <div class="row">
        <div class="col-md-6">
            <section class="code-box">
                <section class="code-box-demo">
                    <form id="form1"></form>
                </section>
                <section class="code-box-meta">
                    <div class="code-box-title">
                        JS生成表单
                    </div>
                    <div>
                        <p>
                            通过一个form标签来生成简单的表单。
                        </p>
                        <p>
                            <code>hasPanel</code>决定是否带有外层panel，默认<code>false</code>，
                            <code>title</code>则表示panel标题。
                        </p>
                    </div>
                    <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top"><i class="fa fa-code"></i></span>
                </section>
                <section class="code-box-wrapper">
                    <pre><code class="language-markup">&lt;form id="form1"&gt;&lt;/form&gt;</code>
              <code class="language-javascript">
$('#form1').form({
  hasPanel:true,
  title:"带有panel的表单",
  list:[{
    name:"aa",
    id:"aa"
  }]
})</code></pre>
                </section>
            </section>
        </div>
        <div class="col-md-6">
            <section class="code-box">
                <section class="code-box-demo">
                    <!-- 组件demo -->
                </section>
                <section class="code-box-meta">
                    <div class="code-box-title">
                        <!-- 组件名 -->
                    </div>
                    <div>
                        <p>
                            <!-- 组件描述 -->
                        </p>
                    </div>
                    <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top"><i class="fa fa-code"></i></span>
                </section>
                <section class="code-box-wrapper">
                    <pre><code>
            <!-- 组件代码 -->
          </code></pre>
                </section>
            </section>
        </div>
    </div>
</div>
<script src="pages/js/form/general.js" charset="utf-8"></script>