<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div>12啊实打实大师的312312啊实打实大师的312312啊实打实大师的3123</div>
  <div>12啊实打实大师的312312啊实打实大师的312312啊实打实大师的3123</div>
  <div>12啊实打实大师的312312啊实打实大师的312312啊实打实大师的3123</div>
  <div>12啊实打实大师的312312啊实打实大师的312312啊实打实大师的3123</div>
  <div>12啊实打实大师的312312啊实打实大师的312312啊实打实大师的3123</div>
  <div>12啊实打实大师的312312啊实打实大师的312312啊实打实大师的3123</div>
  <div>12啊实打实大师的312312啊实打实大师的312312啊实打实大师的3123</div>
  <div>12啊实打实大师的312312啊实打实大师的312312啊实打实大师的3123</div>
  <div>12啊实打实大师的312312啊实打实大师的312312啊实打实大师的3123</div>
  <script>
    $.ajax({
      url: './pages/data/sidebar.json',
      success: function(da) {}
    })
  </script>
</body>

</html>
