<div class="container-fluid" id="selectbox-page">
    <article class="si-article">
        <p class="si-info">下拉选择器，sineUI使用模拟的下拉选择器来代替浏览器原生的选择器。</p>
        <div class="si-callout warning">
            <div class="si-callout-title">使用注意</div>
            <ul>
                <li>需要一个多选器时；</li>
                <li>当选项少于5项时，建议直接将选项平铺，使用<a href="/#/form/radiobox"> Radio </a>是更好的选择。</li>
            </ul>
        </div>
        <h4>代码示例<i class="fa fa-code"></i></h4>
        <section class="code-box">
            <section class="code-box-demo">
                <input class="btsp-selectbox" data-name="select" data-data="[{key:'选项1',value:'1'},{key:'选项2',value:'2'}]">
            </section>
            <section class="code-box-meta">
                <div class="code-box-title">
                    基础用法
                </div>
                <div>
                    <p>
                        基本用法。
                    </p>
                    <p>
                        <code>value</code>只接受字符串类型，多选时，以逗号<code> , </code>隔开，组件会自动根据<code>data</code>的value来返回选中的数据。
                    </p>
                </div>
                <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top"><i class="fa fa-code"></i></span>
            </section>
            <section class="code-box-wrapper">
                <pre><code>
                <!-- 组件代码 -->
              </code></pre>
                <div class="code-box-wrapper-close">
                    <i class="fa fa-angle-double-up"></i>
                </div>
            </section>
        </section>
    </article>
</div>