<div class="container-fluid" id="textbox-page">
    <article class="si-article">
        <p class="si-info">基本表单组件，支持<code>input</code>和<code>textarea</code>，并在原生控件基础上进行了功能扩展，提供组合型输入框。</p>
        <h4>代码示例<i class="fa fa-code"></i></h4>
        <div class="col-sm-6">
            <section class="code-box">
                <section class="code-box-demo">
                    <div>
                        <input class="btsp-textbox" data-width="200px">
                    </div>
                    <div>
                        <input class="btsp-textbox" data-options="width:'200px',placeholder:'请输入'">
                    </div>
                </section>
                <section class="code-box-meta">
                    <div class="code-box-title">
                        基本用法
                    </div>
                    <div>
                        <p>
                            通过给<code>input</code>标签添加<code>class</code>属性<code>btsp-textbox</code>，来生成最简单的<code>input</code>输入框。
                        </p>
                    </div>
                    <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top"><i class="fa fa-code"></i></span>
                </section>
                <section class="code-box-wrapper">
                    <pre><code class="language-markup">
&lt;!-- data-options定义属性 --&gt;
&lt;input class="btsp-textbox" data-options="width:'200px',placeholder:'请输入'"&gt;
或者
&lt;!-- data-api单独定义属性 --&gt;
&lt;input class="btsp-textbox" data-width="200px" data-placeholder="请输入"&gt;</code></pre>
                    <div class="code-box-wrapper-close">
                        <i class="fa fa-angle-double-up"></i>
                    </div>
                </section>
            </section>
            <section class="code-box">
                <section class="code-box-demo">
                    <input class="btsp-passwordbox" data-width="200px">
                </section>
                <section class="code-box-meta">
                    <div class="code-box-title">
                        密码输入框
                    </div>
                    <div>
                        <p>
                            通过给<code>input</code>标签添加<code>class</code>属性<code>btsp-passwordbox</code>，来生成最简单的<code>password</code>输入框。
                        </p>
                    </div>
                    <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top"><i class="fa fa-code"></i></span>
                </section>
                <section class="code-box-wrapper">
                    <pre><code class="language-markup">
&lt;input class="btsp-passwordbox" data-width="200px"&gt;</code></pre>
                    <div class="code-box-wrapper-close">
                        <i class="fa fa-angle-double-up"></i>
                    </div>
                </section>
            </section>
        </div>
        <div class="col-sm-6">
            <section class="code-box">
                <section class="code-box-demo">
                    <input class="btsp-textbox" data-multiline="true" data-width="200px">
                </section>
                <section class="code-box-meta">
                    <div class="code-box-title">
                        文本域
                    </div>
                    <div>
                        <p>
                            通过给<code>input</code>输入框添加<code>data-multiline="true"</code>，或者<code>data-options</code>中添加<code>multiline:'true'</code>，来生成最简单的<code>textarea</code>文本域。
                        </p>
                    </div>
                    <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top"><i class="fa fa-code"></i></span>
                </section>
                <section class="code-box-wrapper">
                    <pre><code class="language-markup">
&lt;!-- data-options定义属性 --&gt;
&lt;input class="btsp-textbox" data-options="multiline:true" data-width="200px"&gt;
或者
&lt;!-- data-api单独定义属性 --&gt;
&lt;input class="btsp-textbox" data-multiline="true" data-width="200px"&gt;</code></pre>
                    <div class="code-box-wrapper-close">
                        <i class="fa fa-angle-double-up"></i>
                    </div>
                </section>
            </section>
        </div>
    </article>
</div>