<div class="container-fluid" id="textbox-page">
  <article class="si-article">
    <p class="si-info">
      基本表单组件，支持<code>input</code>和<code>textarea</code>，并在原生控件基础上进行了功能扩展，提供组合型输入框。
    </p>
    <h4>代码示例<i class="fa fa-code"></i></h4>
    <div class="clearfix">
      <div class="code-demo col-sm-12">
        <section class="code-box">
          <section class="code-box-demo">
            <div>
              <input class="btsp-textbox" data-width="200px" />
            </div>
            <div>
              <input
                class="btsp-textbox"
                data-options="width:'200px',placeholder:'请输入'"
              />
            </div>
          </section>
          <section class="code-box-meta">
            <div class="code-box-title">
              基本用法
            </div>
            <div>
              <p>
                通过给<code>input</code>标签添加<code>class</code>属性<code>btsp-textbox</code>，来生成最简单的<code>input</code>输入框。
              </p>
            </div>
            <span
              class="code-icon code-expand-icon"
              title="代码"
              data-toggle="tooltip"
              data-placement="top"
              ><i class="fa fa-code"></i
            ></span>
          </section>
          <section class="code-box-wrapper">
            <pre><code class="language-markup">
&lt;!-- data-options定义属性 --&gt;
&lt;input class="btsp-textbox" data-options="width:'200px',placeholder:'请输入'"&gt;
或者
&lt;!-- data-api单独定义属性 --&gt;
&lt;input class="btsp-textbox" data-width="200px" data-placeholder="请输入"&gt;</code></pre>
            <div class="code-box-wrapper-close">
              <i class="fa fa-angle-double-up"></i>
            </div>
          </section>
        </section>
        <section class="code-box">
          <section class="code-box-demo">
            <form>
              <input class="btsp-passwordbox" data-width="200px" />
            </form>
          </section>
          <section class="code-box-meta">
            <div class="code-box-title">
              密码输入框
            </div>
            <div>
              <p>
                通过给<code>input</code>标签添加<code>class</code>属性<code>btsp-passwordbox</code>，来生成最简单的<code>password</code>输入框。
              </p>
            </div>
            <span
              class="code-icon code-expand-icon"
              title="代码"
              data-toggle="tooltip"
              data-placement="top"
              ><i class="fa fa-code"></i
            ></span>
          </section>
          <section class="code-box-wrapper">
            <pre><code class="language-markup">
&lt;input class="btsp-passwordbox" data-width="200px"&gt;</code></pre>
            <div class="code-box-wrapper-close">
              <i class="fa fa-angle-double-up"></i>
            </div>
          </section>
        </section>
      </div>
      <div class="code-demo col-sm-12">
        <section class="code-box">
          <section class="code-box-demo">
            <input
              class="btsp-textbox"
              data-multiline="true"
              data-width="200px"
            />
          </section>
          <section class="code-box-meta">
            <div class="code-box-title">
              文本域
            </div>
            <div>
              <p>
                通过给<code>input</code>输入框添加<code>data-multiline="true"</code>，或者<code>data-options</code>中添加<code>multiline:'true'</code>，来生成最简单的<code>textarea</code>文本域。
              </p>
            </div>
            <span
              class="code-icon code-expand-icon"
              title="代码"
              data-toggle="tooltip"
              data-placement="top"
              ><i class="fa fa-code"></i
            ></span>
          </section>
          <section class="code-box-wrapper">
            <pre><code class="language-markup">
&lt;!-- data-options定义属性 --&gt;
&lt;input class="btsp-textbox" data-options="multiline:true" data-width="200px"&gt;
或者
&lt;!-- data-api单独定义属性 --&gt;
&lt;input class="btsp-textbox" data-multiline="true" data-width="200px"&gt;</code></pre>
            <div class="code-box-wrapper-close">
              <i class="fa fa-angle-double-up"></i>
            </div>
          </section>
        </section>
      </div>
    </div>
    <h4>API<i class="fa fa-book"></i></h4>
    <p class="si-api-title">基本属性</p>
    <div class="si-api-box">
      <table class="code-box-table">
        <thead>
          <tr>
            <th width="150">属性名</th>
            <th>说明</th>
            <th>类型</th>
            <th>默认值</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>multiline</td>
            <td>
              是否为文本域
            </td>
            <td>Boolean</td>
            <td>false</td>
          </tr>
          <tr>
            <td>label</td>
            <td>
              文本标题
            </td>
            <td>String</td>
            <td>''</td>
          </tr>
          <tr>
            <td>id</td>
            <td>
              文本框（域）id 属性
            </td>
            <td>String</td>
            <td>''</td>
          </tr>
          <tr>
            <td>name</td>
            <td>
              文本框（域）name 属性
            </td>
            <td>String</td>
            <td>''</td>
          </tr>
          <tr>
            <td>labelWidth</td>
            <td>
              文本框（域）标题宽度，可为具体 px，也可为栅格布局类：'col-md-2'
            </td>
            <td>String</td>
            <td>''</td>
          </tr>
          <tr>
            <td>inputWidth</td>
            <td>
              文本框（域）宽度，可为具体 px，也可为栅格布局类：'col-md-2'
            </td>
            <td>String</td>
            <td>''</td>
          </tr>
          <tr>
            <td>labelAlign</td>
            <td>
              文本框（域）标题居中方式
            </td>
            <td>String</td>
            <td>'right'</td>
          </tr>
          <tr>
            <td>readonly</td>
            <td>
              文本框（域）readonly 只读属性
            </td>
            <td>Boolean</td>
            <td>false</td>
          </tr>
          <tr>
            <td>disabled</td>
            <td>
              文本框（域）disabled 禁用属性
            </td>
            <td>Boolean</td>
            <td>false</td>
          </tr>
          <tr>
            <td>value</td>
            <td>
              文本框（域）value 属性
            </td>
            <td>String</td>
            <td>''</td>
          </tr>
          <tr>
            <td>placeholder</td>
            <td>
              文本框（域）placeholder 属性
            </td>
            <td>String</td>
            <td>''</td>
          </tr>
          <tr>
            <td>helpText</td>
            <td>
              文本框（域）底部帮助文本
            </td>
            <td>String</td>
            <td>''</td>
          </tr>
          <tr>
            <td>rows</td>
            <td>
              文本域 rows 属性
            </td>
            <td>String</td>
            <td>''</td>
          </tr>
          <tr>
            <td>cols</td>
            <td>
              文本域 cols 属性
            </td>
            <td>String</td>
            <td>''</td>
          </tr>
          <tr>
            <td>valid</td>
            <td>
              表单校验规则，默认为 false 不进行校验<br />
              具体校验规则请查看 <a href="/form/form">表单组件</a>
            </td>
            <td>Object/Boolean</td>
            <td>false</td>
          </tr>
        </tbody>
      </table>
    </div>
    <p class="si-api-title">表单操作方法</p>
    <div class="si-callout info">
      <pre><code class="language-javascript">$('#textbox').textbox('method-name', params)</code></pre>
    </div>
    <div class="si-api-box">
      <table class="code-box-table">
        <thead>
          <tr>
            <th width="150">方法名</th>
            <th>说明</th>
            <th>参数</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>-</td>
            <td>
              重新设置基础属性
            </td>
            <td>属性对象</td>
          </tr>
          <tr>
            <td>getValue</td>
            <td>
              获取文本框（域） value 值
            </td>
            <td>-</td>
          </tr>
          <tr>
            <td>destory</td>
            <td>
              销毁文本框
            </td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </article>
</div>
