<div class="container-fluid" id="demo-page">
    <div class="row">
        <div class="col-md-6">
            <section class="code-box">
                <section class="code-box-demo">
                    <!-- 组件demo -->
                </section>
                <section class="code-box-meta">
                    <div class="code-box-title">
                        <!-- 组件名 -->
                    </div>
                    <div>
                        <p>
                            <!-- 组件描述 -->
                        </p>
                    </div>
                    <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top"><i class="fa fa-code"></i></span>
                </section>
                <section class="code-box-wrapper">
                    <pre><code>
            <!-- 组件代码 -->
          </code></pre>
                    <div class="code-box-wrapper-close">
                        <i class="fa fa-angle-double-up"></i>
                    </div>
                </section>
            </section>
        </div>
        <div class="col-md-6">
            <section class="code-box">
                <section class="code-box-demo">
                    <!-- 组件demo -->
                </section>
                <section class="code-box-meta">
                    <div class="code-box-title">
                        <!-- 组件名 -->
                    </div>
                    <div>
                        <p>
                            <!-- 组件描述 -->
                        </p>
                    </div>
                    <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top"><i class="fa fa-code"></i></span>
                </section>
                <section class="code-box-wrapper">
                    <pre><code>
            <!-- 组件代码 -->
          </code></pre>
                    <div class="code-box-wrapper-close"><i class="fa fa-angle-double-up"></i></div>
                </section>
            </section>
        </div>
    </div>
</div>