<div class="container-fluid" id="demo-page">
    <article class="si-article">
        <p class="si-warning"><i class="fa fa-exclamation-circle"></i>暂不支持router路由</p>
        <section class="code-box">
            <div class="demo-content">
                <ul class="si-timeline">
                    <li class="si-timeline-item">
                        <div class="si-timeline-item-tail"></div>
                        <div class="si-timeline-item-head si-timeline-item-head-primary"></div>
                        <div class="si-timeline-item-content">
                            <h4>1.1.0</h4>
                            <p class="demo-date">2018-05-24</p>
                            <p class="demo-date" title="下载" data-toggle="tooltip" data-placement="bottom">
                                <a href="/static/release/sineui-1.1.0.zip">
                                    <i class="fa fa-download"></i>sineui-1.1.0.zip
                                </a>
                            </p>
                            <ul class="ul-circle">
                                <li class="add"><span>时间轴<code>timeline</code>：增加时间轴组件</span></li>
                                <li class="add"><span>表单<code>former</code>：增加表单元素隐藏方法<code>hide</code>、显示方法<code>show</code>；</span></li>
                                <li class="fix"><span>表单校验：隐藏元素不进行校验；</span></li>
                                <li class="fix"><span>表单校验：文本框（域）、密码框校验增加防抖；</span></li>
                                <li class="fix"><span>表单<code>form</code>：修复表单取值<code>data</code>漏掉<code>type="hidden"</code>文本框bug；</span></li>
                            </ul>
                        </div>
                    </li>
                    <li class="si-timeline-item">
                        <div class="si-timeline-item-tail"></div>
                        <div class="si-timeline-item-head si-timeline-item-head-primary"></div>
                        <div class="si-timeline-item-content">
                            <h4>1.0.0</h4>
                            <p class="demo-date">2018-05-21</p>
                            <p class="demo-date" title="下载" data-toggle="tooltip" data-placement="bottom">
                                <a href="/static/release/sineui-1.0.0.zip">
                                    <i class="fa fa-download"></i>sineui-1.0.0.zip
                                </a>
                            </p>
                            <ul class="ul-circle">
                                最初完整版本。
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </article>
</div>