<div class="container-fluid">
    <article class="si-article">
        <p class="si-info">
            SineUI，是基于jQuery的开源 UI 组件库，引入<code>bootstrap3</code>的响应式设计，既面向<code>PC</code>端后台系统，也可完成<code>移动端</code>的屏幕适配。
        </p>
        <section class="code-box">
            <section class="code-box-demo code-box-demo-sm"></section>
            <section class="code-box-meta">
                <div class="code-box-title">
                    支持环境
                </div>
                <div>
                    现代浏览器和 IE9 及以上
                </div>
            </section>
            <section class="code-box-demo code-box-demo-sm"></section>
            <section class="code-box-meta">
                <div class="code-box-title">
                    浏览器引入
                </div>
                <div>
                    <pre><code class="language-markup">
&lt;!-- 最新版本的 SineUI CSS 文件 --&gt;
&lt;link rel="stylesheet" type="text/css" href="https://www.sineui.info/dist/css/sine-1.2.6.min.css"&gt;

&lt;!-- 可选的 SineUI 主题文件（与基础样式有且只有一个） --&gt;
&lt;link rel="stylesheet" type="text/css" href="https://www.sineui.info/dist/css/sine-info-1.2.6.min.css"&gt;

&lt;!-- 最新版本的 SineUI JS 文件 --&gt;
&lt;script type="text/javascript" src="https://www.sineui.info/dist/js/sine-1.2.6.min.js"&gt;&lt;/script&gt;
                    </code><code class="language-javascript">
//初始化Sine，可配置全局路由、主题等
new Sine();
                    </code></pre>
                </div>
            </section>
        </section>
    </article>
</div>