<div class="container-fluid">
    <article class="si-article">
        <!-- <p class="si-info">
            SineUI，是基于 jQuery 的开源 UI 组件库，引入 Bootstrap3 的响应式设计，既面向 PC 端后台系统，也可完成移动端的屏幕适配。
        </p> -->
        <div class="si-callout info">
            <div class="si-callout-title">概述</div>
            <ul>
                <li>开箱即用的高质量 jQuery 组件</li>
                <li>引入 Bootstrap 的响应式设计</li>
                <li>既面向 PC 端中后台系统，也可完成移动端的屏幕适配</li>
            </ul>
        </div>
        <section class="code-box">
            <section class="code-box-demo code-box-demo-sm"></section>
            <section class="code-box-meta">
                <div class="code-box-title">
                    支持环境
                </div>
                <p>
                    现代浏览器和 IE9 及以上
                </p>
            </section>
            <section class="code-box-demo code-box-demo-sm"></section>
            <section class="code-box-meta">
                <div class="code-box-title">
                    更新日志
                </div>
                <p>
                    最新稳定版本：1.2.6
                </p>
                <p>
                    每个版本的更新日志见 <a href="/update/log">更新日志</a>。
                </p>
            </section>
            <section class="code-box-demo code-box-demo-sm"></section>
            <section class="code-box-meta">
                <div class="code-box-title">
                    下载
                </div>
                <a href="/static/release/sineui-1.2.6.zip"><button type="button" class="btn btn-info">最新稳定版</button></a>
            </section>
            <section class="code-box-demo code-box-demo-sm"></section>
            <section class="code-box-meta">
                <div class="code-box-title">
                    浏览器引入
                </div>
                <div><pre><code class="language-markup">
&lt;!-- 最新版本的 SineUI CSS 文件 --&gt;
&lt;link rel="stylesheet" type="text/css" href="https://www.sineui.info/dist/css/sine.min.css"&gt;

&lt;!-- 最新版本的 SineUI JS 文件 --&gt;
&lt;script type="text/javascript" src="https://www.sineui.info/dist/js/sine.min.js"&gt;&lt;/script&gt;
                    </code><code class="language-javascript">
//初始化Sine，可配置全局路由、主题等
new Sine();</code></pre></div>
            </section>
        </section>
    </article>
</div>