<div class="container-fluid" id="demo-page">
  <article class="si-article">
    <p class="si-info">主要用于展示大量结构化数据。</p>
    <div class="si-callout info">
      <div class="si-callout-title">何时使用</div>
      <ul>
        <li>当有大量结构化的数据需要展现时；</li>
        <li>当需要对数据进行排序、搜索、分页、自定义操作等复杂行为时。</li>
      </ul>
    </div>
    <h4>代码示例<i class="fa fa-code"></i></h4>
    <section class="code-box">
      <section class="code-box-demo">
        <table id="table1"></table>
      </section>
      <section class="code-box-meta">
        <div class="code-box-title">
          基础用法
        </div>
        <div>
          <p>
            表格的最简单用法。默认自带斑马纹，可通过表格参数<code>striped</code>控制。默认自带分页，可通过表格参数<code>pagination</code>控制。
          </p>
        </div>
        <span
          class="code-icon code-expand-icon"
          title="代码"
          data-toggle="tooltip"
          data-placement="top"
          ><i class="fa fa-code"></i
        ></span>
      </section>
      <section class="code-box-wrapper">
        <pre><code class="language-markup">
&lt;table id="table1"&gt;&lt;/table&gt;
                </code><code class="language-javascript">
$('#table1').table({
    pagination: false,//取消分页
    columns: [{
        field: 'id',
        title: 'Item ID'
    }, {
        field: 'name',
        title: 'Item Name'
    }, {
        field: 'price',
        title: 'Item Price'
    }],
    data: [{
        id: 1,
        name: 'Item 1',
        price: '¥ 1'
    }, {
        id: 2,
        name: 'Item 2',
        price: '¥ 2'
    }, {
        id: 3,
        name: 'Item 3',
        price: '¥ 3'
    }]
});                    
          </code></pre>
        <div class="code-box-wrapper-close">
          <i class="fa fa-angle-double-up"></i>
        </div>
      </section>
    </section>
    <section class="code-box">
      <section class="code-box-demo">
        <table id="table2"></table>
      </section>
      <section class="code-box-meta">
        <div class="code-box-title">
          无边框表格
        </div>
        <div>
          <p>
            默认情况下，表格是有边框的，可以通过定义表格参数<code>classes</code>添加
            <code>table-no-bordered</code>类 来删除表格的边框样式。
          </p>
        </div>
        <span
          class="code-icon code-expand-icon"
          title="代码"
          data-toggle="tooltip"
          data-placement="top"
          ><i class="fa fa-code"></i
        ></span>
      </section>
      <section class="code-box-wrapper">
        <pre><code class="language-markup">
&lt;table id="table2"&gt;&lt;/table&gt;
                </code><code class="language-javascript">
$('#table2').table({
    classes: 'table-no-bordered',
    pagination: false,//取消分页
    columns: [{
        field: 'id',
        title: 'Item ID'
    }, {
        field: 'name',
        title: 'Item Name'
    }, {
        field: 'price',
        title: 'Item Price'
    }],
    data: [{
        id: 1,
        name: 'Item 1',
        price: '¥ 1'
    }, {
        id: 2,
        name: 'Item 2',
        price: '¥ 2'
    }, {
        id: 3,
        name: 'Item 3',
        price: '¥ 3'
    }]
});                    
            </code></pre>
        <div class="code-box-wrapper-close">
          <i class="fa fa-angle-double-up"></i>
        </div>
      </section>
    </section>
    <section class="code-box">
      <section class="code-box-demo">
        <table id="table3"></table>
      </section>
      <section class="code-box-meta">
        <div class="code-box-title">
          可排序表格
        </div>
        <div>
          <p>
            表格的分页分为服务端和客户端两种形式，排序亦然。
          </p>
        </div>
        <span
          class="code-icon code-expand-icon"
          title="代码"
          data-toggle="tooltip"
          data-placement="top"
          ><i class="fa fa-code"></i
        ></span>
      </section>
      <section class="code-box-wrapper">
        <pre><code class="language-markup">
&lt;table id="table3"&gt;&lt;/table&gt;
                </code><code class="language-javascript">
$('#table3').table({
    pagination: false,
    sidePagination:'client',
    columns: [{
        field: 'id',
        title: 'Item ID',
        sortable: true
    }, {
        field: 'name',
        title: 'Item Name',
        sortable: true
    }, {
        field: 'price',
        title: 'Item Price',
        sortable: true
    }],
    data:[
        {
            "id": 0,
            "name": "Item 0",
            "price": "$0"
        },
        {
            "id": 1,
            "name": "Item 2",
            "price": "$1"
        },
        {
            "id": 2,
            "name": "Item 1",
            "price": "$2"
        }
    ]
});                    
            </code></pre>
        <div class="code-box-wrapper-close">
          <i class="fa fa-angle-double-up"></i>
        </div>
      </section>
    </section>
    <section class="code-box">
      <section class="code-box-demo">
        <table id="table4"></table>
      </section>
      <section class="code-box-meta">
        <div class="code-box-title">
          可选择表格
        </div>
        <div>
          <p>
            <code>columns</code>参数<code>checkbox</code>为<code>true</code>。
          </p>
        </div>
        <span
          class="code-icon code-expand-icon"
          title="代码"
          data-toggle="tooltip"
          data-placement="top"
          ><i class="fa fa-code"></i
        ></span>
      </section>
      <section class="code-box-wrapper">
        <pre><code class="language-markup">
&lt;table id="table4"&gt;&lt;/table&gt;
                </code><code class="language-javascript">
$('#table4').table({
    pagination: false,
    columns: [{
        checkbox: true
    }, {
        field: 'id',
        title: 'Item ID'
    }, {
        field: 'name',
        title: 'Item Name'
    }, {
        field: 'price',
        title: 'Item Price'
    }],
    data:[
        {
            "id": 0,
            "name": "Item 0",
            "price": "$0"
        },
        {
            "id": 1,
            "name": "Item 2",
            "price": "$1"
        },
        {
            "id": 2,
            "name": "Item 1",
            "price": "$2"
        }
    ]
});                    
            </code></pre>
        <div class="code-box-wrapper-close">
          <i class="fa fa-angle-double-up"></i>
        </div>
      </section>
    </section>
    <section class="code-box">
      <section class="code-box-demo">
        <table id="table5"></table>
      </section>
      <section class="code-box-meta">
        <div class="code-box-title">
          定高表格
        </div>
        <div>
          <p>
            设置表格参数<code>height</code>即可定高，定高可固定表头。
          </p>
        </div>
        <span
          class="code-icon code-expand-icon"
          title="代码"
          data-toggle="tooltip"
          data-placement="top"
          ><i class="fa fa-code"></i
        ></span>
      </section>
      <section class="code-box-wrapper">
        <pre><code class="language-markup">
&lt;table id="table5"&gt;&lt;/table&gt;
                </code><code class="language-javascript">
$('#table5').table({
    pagination: false,
    height: 300,
    columns: [{
        field: 'id',
        title: 'Item ID'
    }, {
        field: 'name',
        title: 'Item Name'
    }, {
        field: 'price',
        title: 'Item Price'
    }],
    data:[...]
});                    
            </code></pre>
        <div class="code-box-wrapper-close">
          <i class="fa fa-angle-double-up"></i>
        </div>
      </section>
    </section>
    <section class="code-box">
      <section class="code-box-demo">
        <table id="table6"></table>
      </section>
      <section class="code-box-meta">
        <div class="code-box-title">
          表格formatter及事件绑定
        </div>
        <div>
          <p>
            <code>columns</code
            >参数<code>formatter</code>配合<code>events</code>使用实现单个或多个事件绑定。
          </p>
        </div>
        <span
          class="code-icon code-expand-icon"
          title="代码"
          data-toggle="tooltip"
          data-placement="top"
          ><i class="fa fa-code"></i
        ></span>
      </section>
      <section class="code-box-wrapper">
        <pre><code class="language-markup">
&lt;table id="table6"&gt;&lt;/table&gt;
                </code><code class="language-javascript">  
$('#table6').table({
    pagination: false,
    columns: [{
        checkbox: true
    }, {
        field: 'id',
        title: 'Item ID'
    }, {
        field: 'name',
        title: 'Item Name'
    }, {
        field: 'price',
        title: 'Item Price',
        events: {
            'click .myclass': function(e, value, row, index){
                e.stopPropagation();//防勾选
                $.alert(value);
            }
        },
        formatter: function(value, row, index, field){
            var color;
            switch(value){
                case '2': color = 'green';
                break;
                case '0': color = 'red';
                break;
                default: color = 'blue';
                break;
            }
            return '&lt;span class="myclass" style="color:'+color+'"&gt;¥ '+value+'&lt;/span&gt;';
        }
    }],
    data:[
        {
            "id": 0,
            "name": "Item 0",
            "price": '0'
        },
        {
            "id": 1,
            "name": "Item 2",
            "price": '1'
        },
        {
            "id": 2,
            "name": "Item 1",
            "price": '2'
        }
    ]
});
            </code></pre>
        <div class="code-box-wrapper-close">
          <i class="fa fa-angle-double-up"></i>
        </div>
      </section>
    </section>
    <section class="code-box">
      <section class="code-box-demo">
        <table id="table7"></table>
      </section>
      <section class="code-box-meta">
        <div class="code-box-title">
          列定宽表格（非响应式表格）
        </div>
        <div>
          <p>
            可通过添加参数<code>classes: 'si-table-fixed'</code
            >或者直接给<code>table</code>添加<code>si-table-fixed</code>的<code>class</code>。
          </p>
          <p>定宽表格超出宽度将会被省略。</p>
        </div>
        <span
          class="code-icon code-expand-icon"
          title="代码"
          data-toggle="tooltip"
          data-placement="top"
          ><i class="fa fa-code"></i
        ></span>
      </section>
      <section class="code-box-wrapper">
        <pre><code class="language-markup">
&lt;table id="table7"&gt;&lt;/table&gt;
                </code><code class="language-javascript">  
$('#table7').table({
    classes: 'si-table-fixed',
    pagination: false,
    columns: [{...}],
    data: [{...}]
});

//或者</code><code class="language-markup">
&lt;table class="si-table-fixed" id="table6"&gt;&lt;/table&gt;
                </code><code class="language-javascript">  
$('#table6').table({
    pagination: false,
    columns: [{...}],
    data: [{...}]
});</code></pre>
        <div class="code-box-wrapper-close">
          <i class="fa fa-angle-double-up"></i>
        </div>
      </section>
    </section>
    <section class="code-box">
      <section class="code-box-demo">
        <table id="table8"></table>
      </section>
      <section class="code-box-meta">
        <div class="code-box-title">
          固定列表格
        </div>
        <div>
          <p>
            固定列表格只支持非响应式表格。
          </p>
        </div>
        <span
          class="code-icon code-expand-icon"
          title="代码"
          data-toggle="tooltip"
          data-placement="top"
          ><i class="fa fa-code"></i
        ></span>
      </section>
      <section class="code-box-wrapper">
        <pre><code class="language-markup">
&lt;table id="table8"&gt;&lt;/table&gt;
                </code><code class="language-javascript">  
$('#table8').table({
    classes: 'si-table-fixed',
    pagination: false,
    fixedColumns: true,//开启固定列
    fixedNumber: 2,//固定列数量
    height: 300,
    columns: [{
        checkbox: true
    }, {
        field: 'id',
        title: 'Item ID',
        width: 100
    }, {
        field: 'name',
        title: 'Item Name',
        width: 300
    }, {
        field: 'price',
        title: 'Item Price',
        width: 300
    }, {
        field: 'id',
        title: 'Item ID2',
        width: 100
    }, {
        field: 'name',
        title: 'Item Name2',
        width: 300
    }, {
        field: 'price',
        title: 'Item Price2',
        width: 300
    }, {
        field: 'id',
        title: 'Item ID3',
        width: 100
    }, {
        field: 'name',
        title: 'Item Name3',
        width: 300
    }, {
        field: 'price',
        title: 'Item Price3',
        width: 300
    }],
    data: [{...}]
});
            </code></pre>
        <div class="code-box-wrapper-close">
          <i class="fa fa-angle-double-up"></i>
        </div>
      </section>
    </section>
    <section class="code-box">
      <section class="code-box-demo">
        <table id="table9"></table>
      </section>
      <section class="code-box-meta">
        <div class="code-box-title">
          合并列表格
        </div>
        <div>
          <p>表格头合并功能，多用于数据分类统计的表格中。</p>
        </div>
        <span
          class="code-icon code-expand-icon"
          title="代码"
          data-toggle="tooltip"
          data-placement="top"
          ><i class="fa fa-code"></i
        ></span>
      </section>
      <section class="code-box-wrapper">
        <pre><code class="language-markup">
&lt;table id="table9"&gt;&lt;/table&gt;
                </code><code class="language-javascript">
$('#table9').table({
    pagination: false,//取消分页
    classes:'si-table-fixed',
    height: 300,
    fixedColumns: true,
    fixedNumber: 3,
    columns: [[{
        title: '#',
        formatter:function(){
            return Math.random().toFixed(2)*100
        },
        valign: 'middle',
        rowspan: 2,
        align: 'center',
        width: 60
    }, {
        title: 'Item-1',
        colspan: 2,
        align: 'center',
        width: 400
    }, {
        title: 'Item-2',
        colspan: 6,
        align: 'center',
        width: 1200
    }], [{
        field: 'name',
        title: 'Item Name',
        align: 'center',
        width: 200
    }, {
        field: 'price',
        title: 'Item Price',
        align: 'center',
        width: 200
    },{
        field: 'name',
        title: 'Item Name111',
        align: 'center',
        width: 200
    }, {
        field: 'price',
        title: 'Item Price',
        align: 'center',
        width: 200
    },{
        field: 'name',
        title: 'Item Name',
        align: 'center',
        width: 200
    }, {
        field: 'price',
        title: 'Item Price',
        align: 'center',
        width: 200
    },{
        field: 'name',
        title: 'Item Name',
        align: 'center',
        width: 200
    }, {
        field: 'price',
        title: 'Item Price',
        align: 'center',
        width: 200
    }]],
    data: [...]
});                    
            </code></pre>
        <div class="code-box-wrapper-close">
          <i class="fa fa-angle-double-up"></i>
        </div>
      </section>
    </section>
    <h4>API<i class="fa fa-book"></i></h4>
    <p class="si-api-title">基础参数</p>
    <div class="si-api-box">
      <table class="code-box-table">
        <thead>
          <tr>
            <th>属性</th>
            <th>说明</th>
            <th>类型</th>
            <th width="150">默认（返回）值</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>height</td>
            <td>表格高度，设置后会固定表头。</td>
            <td>Number</td>
            <td>undefined</td>
          </tr>
          <tr>
            <td>classes</td>
            <td>
              表格类名，若加上 'si-table-fixed'则可将表格设置为 fixed 布局
            </td>
            <td>String</td>
            <td>'table table-bordered table-hover'</td>
          </tr>
          <tr>
            <td>rowStyle</td>
            <td>
              格式化行样式和 class 类，返回一个对象格式如下：<br />
              { classes: '', css: { color: '' } } <br />
              同时函数存在两个参数：<br />
              row：该行数据；<br />
              index：该行行号。
            </td>
            <td>Function</td>
            <td>{}</td>
          </tr>
          <tr>
            <td>rowAttributes</td>
            <td>
              格式化行 attribute 属性，返回一个对象格式如下：<br />
              { 'data-toogle': 'popover' }<br />
              同时函数存在两个参数：<br />
              row：该行数据；<br />
              index：该行行号。
            </td>
            <td>Function</td>
            <td>{}</td>
          </tr>
          <tr>
            <td>undefinedText</td>
            <td>表格每个单元格针对 undefined 的默认文本替换</td>
            <td>String</td>
            <td>'-'</td>
          </tr>
          <tr>
            <td>sortable</td>
            <td>开启表格排序</td>
            <td>Booblean</td>
            <td>true</td>
          </tr>
          <tr>
            <td>totalField</td>
            <td>分页数据总数字段名</td>
            <td>String</td>
            <td>'total'</td>
          </tr>
          <tr>
            <td>dataField</td>
            <td>数据字段名</td>
            <td>String</td>
            <td>'rows'</td>
          </tr>
          <tr>
            <td>pagination</td>
            <td>是否开启分页</td>
            <td>Boolean</td>
            <td>true</td>
          </tr>
          <tr>
            <td>paginationLoop</td>
            <td>分页页码可循环切换</td>
            <td>Boolean</td>
            <td>false</td>
          </tr>
          <tr>
            <td>sidePagination</td>
            <td>
              client：客户端分页<br />
              server：服务端分页
            </td>
            <td>String</td>
            <td>'client'</td>
          </tr>
          <tr>
            <td>pageNumber</td>
            <td>分页页码</td>
            <td>Number</td>
            <td>1</td>
          </tr>
          <tr>
            <td>pageSize</td>
            <td>分页每页数据数量</td>
            <td>Number</td>
            <td>10</td>
          </tr>
          <tr>
            <td>pageList</td>
            <td>分页每夜条数选择的数据组</td>
            <td>Array</td>
            <td>[10, 25, 50, 100]</td>
          </tr>
          <tr>
            <td>paginationHAlign</td>
            <td>分页块显示左右位置，默认靠右，可选 'left', 'right'</td>
            <td>String</td>
            <td>'right'</td>
          </tr>
          <tr>
            <td>paginationVAlign</td>
            <td>
              分页块相对表格内容显示上下位置，默认表格下方，可选 'top',
              'bottom', 'both'
            </td>
            <td>String</td>
            <td>'bottom'</td>
          </tr>
          <tr>
            <td>clickToSelect</td>
            <td>
              行点击选中该行 checkbox
            </td>
            <td>Boolean</td>
            <td>true</td>
          </tr>
          <tr>
            <td>singleSelect</td>
            <td>
              单选，只能选择一行数据
            </td>
            <td>Boolean</td>
            <td>false</td>
          </tr>
          <tr>
            <td>showHeader</td>
            <td>
              是否显示表头
            </td>
            <td>Boolean</td>
            <td>true</td>
          </tr>
          <tr>
            <td>showFooter</td>
            <td>
              是否显示表底部
            </td>
            <td>Boolean</td>
            <td>false</td>
          </tr>
          <tr>
            <td>showRefresh</td>
            <td>
              是否显示刷新按钮
            </td>
            <td>Boolean</td>
            <td>false</td>
          </tr>
          <tr>
            <td>showFullscreen</td>
            <td>
              是否显示全凭按钮
            </td>
            <td>Boolean</td>
            <td>false</td>
          </tr>
          <tr>
            <td>cardView</td>
            <td>
              是否显示为 card-view
            </td>
            <td>Boolean</td>
            <td>false</td>
          </tr>
          <tr>
            <td>detailView</td>
            <td>
              是否显示为 detail-view，左侧会有每一行的详情展开标志
            </td>
            <td>Boolean</td>
            <td>false</td>
          </tr>
          <tr>
            <td>toolbar</td>
            <td>
              表格工具栏，可为 DOM 选择器，如 #toolbar, .toolbar
            </td>
            <td>String/Node/Array</td>
            <td>undefined</td>
          </tr>
          <tr>
            <td>toolbarAlign</td>
            <td>
              toolbar 显示位置，可选'left', 'right'
            </td>
            <td>String</td>
            <td>'left'</td>
          </tr>
          <tr>
            <td>columns</td>
            <td>表格列参数</td>
            <td>Array</td>
            <td>[]</td>
          </tr>
          <tr>
            <td>data</td>
            <td>表格数据</td>
            <td>Array</td>
            <td>[]</td>
          </tr>
          <tr>
            <td>url</td>
            <td>远程获取表格数据地址</td>
            <td>String</td>
            <td>null</td>
          </tr>
          <tr>
            <td>method</td>
            <td>获取远程数据的请求方式</td>
            <td>String</td>
            <td>'get'</td>
          </tr>
          <tr>
            <td>dataType</td>
            <td>
              远程获取的数据类型
            </td>
            <td>String</td>
            <td>'json'</td>
          </tr>
          <tr>
            <td>ajaxOptions</td>
            <td>
              提交 Ajax 请求时的请求配置
            </td>
            <td>Object</td>
            <td>{}</td>
          </tr>
          <tr>
            <td>queryParams</td>
            <td>远程数据请求参数</td>
            <td>Function</td>
            <td>
              function(params) {<br />
              return params <br />
              }
            </td>
          </tr>
          <tr>
            <td>responseHandler</td>
            <td>远程数据返回拦截器，可重新格式化</td>
            <td>Function</td>
            <td>
              function(res) {<br />
              return res <br />
              }
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <p class="si-api-title">columns 列参数</p>
    <div class="si-api-box">
      <table class="code-box-table">
        <thead>
          <tr>
            <th>属性</th>
            <th>说明</th>
            <th>类型</th>
            <th width="150">默认（返回）值</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>radio</td>
            <td>显示 radio，单选</td>
            <td>Boolean</td>
            <td>false</td>
          </tr>
          <tr>
            <td>checkbox</td>
            <td>
              显示 checkbox，复选框
            </td>
            <td>String</td>
            <td>'table table-bordered table-hover'</td>
          </tr>
          <tr>
            <td>field</td>
            <td>
              列显示的字段名
            </td>
            <td>String</td>
            <td>undefined</td>
          </tr>
          <tr>
            <td>title</td>
            <td>
              列头显示的名称
            </td>
            <td>String</td>
            <td>undefined</td>
          </tr>
          <tr>
            <td>titleTooltip</td>
            <td>列 tooltip 提示文本</td>
            <td>String</td>
            <td>undefined</td>
          </tr>
          <tr>
            <td>class</td>
            <td>列类名</td>
            <td>String</td>
            <td>undefined</td>
          </tr>
          <tr>
            <td>rowspan</td>
            <td>单元格占多少行的空间</td>
            <td>Number</td>
            <td>undefined</td>
          </tr>
          <tr>
            <td>colspan</td>
            <td>单元格占多少列的空间</td>
            <td>Number</td>
            <td>undefined</td>
          </tr>
          <tr>
            <td>align</td>
            <td>单元格文本左右居中模式，可选'left', 'right', 'center'</td>
            <td>String</td>
            <td>undefined</td>
          </tr>
          <tr>
            <td>halign</td>
            <td>每列表头文本左右居中模式，可选'left', 'right', 'center'</td>
            <td>String</td>
            <td>undefined</td>
          </tr>
          <tr>
            <td>falign</td>
            <td>
              每列表底部文本左右居中模式，可选'left', 'right', 'center'
            </td>
            <td>String</td>
            <td>undefined</td>
          </tr>
          <tr>
            <td>valign</td>
            <td>
              单元格文本上下居中模式，可选'top', 'middle', 'bottom'
            </td>
            <td>String</td>
            <td>undefined</td>
          </tr>
          <tr>
            <td>width</td>
            <td>列宽度</td>
            <td>String/Number</td>
            <td>
              undefined
            </td>
          </tr>
          <tr>
            <td>visible</td>
            <td>列是否可见</td>
            <td>Boolean</td>
            <td>
              true
            </td>
          </tr>
          <tr>
            <td>formatter</td>
            <td>
              列格式化函数，有四个参数：<br />
              value：该单元格的值<br />
              row：该单元格数据<br />
              index：该行序列号<br />
              field：该列字段名
            </td>
            <td>Function</td>
            <td>
              undefined
            </td>
          </tr>
          <tr>
            <td>events</td>
            <td>
              当使用 formatter 做单元格格式化，可使用该参数为其添加事件
            </td>
            <td>Object</td>
            <td>
              undefined
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <p class="si-api-title">表格操作方法</p>
    <div class="si-callout info">
      <pre><code class="language-javascript">$('#table').table('method-name', params)</code></pre>
    </div>
    <div class="si-api-box">
      <table class="code-box-table">
        <thead>
          <tr>
            <th width="150">方法名</th>
            <th>说明</th>
            <th>参数</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>refresh</td>
            <td>刷新表格数据请求，可重新配置 url、query 等参数</td>
            <td>表格请求配置</td>
          </tr>
          <tr>
            <td>refreshOptions</td>
            <td>
              刷新表格配置
            </td>
            <td>表格配置</td>
          </tr>
          <tr>
            <td>load</td>
            <td>
              加载数据进表格
            </td>
            <td>数组类型数据</td>
          </tr>
          <tr>
            <td>reload</td>
            <td>
              重新加载表格数据
            </td>
            <td>查询参数</td>
          </tr>
          <tr>
            <td>selected</td>
            <td>获取已勾选的所有数据</td>
            <td>-</td>
          </tr>
          <tr>
            <td>checkAll</td>
            <td>全选当前页数据</td>
            <td>-</td>
          </tr>
          <tr>
            <td>uncheckAll</td>
            <td>全不选当前页数据</td>
            <td>-</td>
          </tr>
          <tr>
            <td>check</td>
            <td>根据行序列号勾选某一条数据</td>
            <td>行 index</td>
          </tr>
          <tr>
            <td>uncheck</td>
            <td>根据行序列号取消某一行的勾选状态</td>
            <td>行 index</td>
          </tr>
          <tr>
            <td>append</td>
            <td>
              在表格最后追加一条数据
            </td>
            <td>一条数据data</td>
          </tr>
          <tr>
            <td>getData</td>
            <td>
              返回表格加载的所有数据，可传入 useCurrentPage 参数为 true
              获取当前页数据
            </td>
            <td>useCurrentPage：true 或 false</td>
          </tr>
          <tr>
            <td>updateRow</td>
            <td>更新某一行数据</td>
            <td>
              需传入一个对象参数：{<br />
              index: 待更新行序列号,<br />
              row: 待更新数据<br />
              }
            </td>
          </tr>
          <tr>
            <td>getRowByUniqueId</td>
            <td>根据唯一的 id 更新某一行数据</td>
            <td>
              需传入一个对象参数：{<br />
              id: 待更新行 id,<br />
              row: 待更新数据<br />
              }
            </td>
          </tr>
          <tr>
            <td>hideColumn</td>
            <td>
              隐藏列
            </td>
            <td>
              field 参数名
            </td>
          </tr>
          <tr>
            <td>showColumn</td>
            <td>
              显示列
            </td>
            <td>
              field 参数名
            </td>
          </tr>
          <tr>
            <td>removeSelected</td>
            <td>
              删除选中行
            </td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
    <p class="si-api-title">表格事件</p>
    <div class="si-callout info">
      <pre><code class="language-javascript">$('#table').table({
    onEventName: function (arg1, arg2, ...) {
        // ...
    }
})
$('#table').on('event-name.bs.table', function (e, arg1, arg2, ...) {
    // ...
})</code></pre>
    </div>
    <div class="si-api-box">
      <table class="code-box-table">
        <thead>
          <tr>
            <th width="150">属性事件名</th>
            <th width="150">jQuery事件名</th>
            <th>说明</th>
            <th>参数</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>onAll</td>
            <td>all.bs.table</td>
            <td>所有事件都会触发</td>
            <td>name：事件名<br> args：事件方法参数</td>
          </tr>
          <tr>
            <td>onClickRow</td>
            <td>
                click-row.bs.table
            </td>
            <td>单击行事件</td>
            <td>row：行数据<br> $element：行所在 tr<br>field：点击的单元格属性名</td>
          </tr>
          <tr>
                <td>onDblClickRow</td>
                <td>
                        dbl-click-row.bs.table
                </td>
                <td>双击行事件</td>
                <td>row：行数据<br> $element：行所在 tr<br>field：点击的单元格属性名</td>
          </tr>
          <tr>
            <td>onCheck</td>
            <td>check.bs.table</td>
            <td>勾选数据时触发</td>
            <td>row：行数据<br> $element：行所在 tr</td>
          </tr>
          <tr>
                <td>onUncheck</td>
                <td>uncheck.bs.table</td>
                <td>取消勾选数据时触发</td>
                <td>row：行数据<br> $element：行所在 tr</td>
              </tr>
          <tr>
            <td>onLoadSuccess</td>
            <td>load-success.bs.table</td>
            <td>远程获取数据成功后触发</td>
            <td>data：表格数据</td>
          </tr>
          <tr>
            <td>onPageChange</td>
            <td>page-change.bs.table</td>
            <td>改变页码或修改每页显示数量时触发</td>
            <td>number：pageNumber <br> size：pageSize</td>
          </tr>
        </tbody>
      </table>
    </div>
  </article>
</div>
<script src="/pages/js/table/general.js"></script>
