<div class="container-fluid">
  <div class="card">
    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-default">Default</button>
        <button class="btn btn-primary">Primary</button>
        <button class="btn btn-success">Success</button>
        <button class="btn btn-info">Info</button>
        <button class="btn btn-link">Link</button>
        <button class="btn btn-danger">Danger</button>
        <button class="btn btn-warning">Warning</button>
      </div>
      <div class="col-md-6">
        <button class="btn btn-primary btn-lg">large</button>
        <button class="btn btn-primary">default</button>
        <button class="btn btn-primary btn-sm">small</button>
        <button class="btn btn-primary btn-xs">x-small</button>
      </div>
    </div>
  </div>
</div>
