<div class="container-fluid" id="color-page">
  <article class="si-article">
    <p class="si-info">
      sineUI 以以下颜色作为设计和开发规范，以保证页面和组件之间的视觉一致。
    </p>
    <h4>五种基准色<i class="fa fa-code"></i></h4>
    <p class="si-callout info">
      采用蓝色作为主色调，使用其他几种具有代表性的颜色来辅助，用于信息提示，比如成功、警告和失败。
    </p>
    <div class="doc-row no-bg sm border-round row">
      <div class="doc-col col-md-4 bg-primary">Primary<br />#2d8cf0</div>
      <div class="doc-col col-md-4 col-md-offset-1 bg-info">
        Info<br />#37c4fb
      </div>
      <div class="doc-col col-md-4 col-md-offset-1 bg-success">
        Success<br />#19be6b
      </div>
      <div class="doc-col col-md-4 col-md-offset-1 bg-warning">
        Warning<br />#ff9900
      </div>
      <div class="doc-col col-md-4 col-md-offset-1 bg-danger">
        Danger<br />#ed3f14
      </div>
    </div>
  </article>
</div>
