<div class="container-fluid" id="demo-page">
    <article class="si-article">
        <p class="si-info">面板。</p>
        <h4>代码示例
            <i class="fa fa-code"></i>
        </h4>
        <section class="code-box">
            <section class="code-box-demo">
                <div class="panel panel-default">
                    <div class="panel-heading">标题</div>
                    <div class="panel-body">内容</div>
                    <div class="panel-footer">底部</div>
                </div>
            </section>
            <section class="code-box-meta">
                <div class="code-box-title">
                    基础面板使用
                </div>
                <div>
                    <p>
                        一个完整的面板包括头、内容和底。
                    </p>
                </div>
                <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top">
                    <i class="fa fa-code"></i>
                </span>
            </section>
            <section class="code-box-wrapper">
                <pre><code class="language-markup">
&lt;div class="panel panel-default"&gt;
    &lt;div class="panel-heading"&gt;标题&lt;/div&gt;
    &lt;div class="panel-body"&gt;内容&lt;/div&gt;
    &lt;div class="panel-footer"&gt;底部&lt;/div&gt;
&lt;/div&gt;
          </code></pre>
                <div class="code-box-wrapper-close">
                    <i class="fa fa-angle-double-up"></i>
                </div>
            </section>
        </section>
        <section class="code-box">
            <section class="code-box-demo">
                <div class="panel panel-primary">
                    <div class="panel-heading">情景一</div>
                    <div class="panel-body">内容</div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">情景二</div>
                    <div class="panel-body">内容</div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">情景三</div>
                    <div class="panel-body">内容</div>
                </div>
                <div class="panel panel-warning">
                    <div class="panel-heading">情景四</div>
                    <div class="panel-body">内容</div>
                </div>
                <div class="panel panel-danger">
                    <div class="panel-heading">情景五</div>
                    <div class="panel-body">内容</div>
                </div>
            </section>
            <section class="code-box-meta">
                <div class="code-box-title">
                    其他情景
                </div>
                <div>
                    <p>
                        加上<code>panel-default</code>，共六种情景可选。
                    </p>
                </div>
                <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top">
                    <i class="fa fa-code"></i>
                </span>
            </section>
            <section class="code-box-wrapper">
                <pre><code class="language-markup">
&lt;div class="panel panel-primary"&gt;
    &lt;div class="panel-heading"&gt;标题&lt;/div&gt;
    &lt;div class="panel-body"&gt;内容&lt;/div&gt;
&lt;/div&gt;
&lt;div class="panel panel-success"&gt;
    &lt;div class="panel-heading"&gt;标题&lt;/div&gt;
    &lt;div class="panel-body"&gt;内容&lt;/div&gt;
&lt;/div&gt;
&lt;div class="panel panel-info"&gt;
    &lt;div class="panel-heading"&gt;标题&lt;/div&gt;
    &lt;div class="panel-body"&gt;内容&lt;/div&gt;
&lt;/div&gt;
&lt;div class="panel panel-warning"&gt;
    &lt;div class="panel-heading"&gt;标题&lt;/div&gt;
    &lt;div class="panel-body"&gt;内容&lt;/div&gt;
&lt;/div&gt;
&lt;div class="panel panel-danger"&gt;
    &lt;div class="panel-heading"&gt;标题&lt;/div&gt;
    &lt;div class="panel-body"&gt;内容&lt;/div&gt;
&lt;/div&gt;
          </code></pre>
                <div class="code-box-wrapper-close">
                    <i class="fa fa-angle-double-up"></i>
                </div>
            </section>
        </section>
        <section class="code-box">
            <section class="code-box-demo">
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#collapseExample1">默认折叠</div>
                    <div class="panel-body collapse" id="collapseExample1">内容</div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#collapseExample2">默认展开</div>
                    <div class="panel-body in" id="collapseExample2">内容</div>
                </div>
            </section>
            <section class="code-box-meta">
                <div class="code-box-title">
                    可收缩面板
                </div>
                <div>
                    <p>
                        利用
                        <a href="/components/collapse">
                            <code>collapse</code>
                        </a>，实现可收缩。
                    </p>
                </div>
                <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top">
                    <i class="fa fa-code"></i>
                </span>
            </section>
            <section class="code-box-wrapper">
                <pre><code class="language-markup">
&lt;div class="panel panel-default"&gt;
    &lt;div class="panel-heading" data-toggle="collapse" data-target="#collapseExample1"&gt;默认折叠&lt;/div&gt;
    &lt;div class="panel-body collapse" id="collapseExample1"&gt;内容&lt;/div&gt;
&lt;/div&gt;
&lt;div class="panel panel-default"&gt;
    &lt;div class="panel-heading" data-toggle="collapse" data-target="#collapseExample2"&gt;默认展开&lt;/div&gt;
    &lt;div class="panel-body in" id="collapseExample2"&gt;内容&lt;/div&gt;
&lt;/div&gt;
          </code></pre>
                <div class="code-box-wrapper-close">
                    <i class="fa fa-angle-double-up"></i>
                </div>
            </section>
        </section>
        <section class="code-box">
            <section class="code-box-demo">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Panel #1
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                内容一
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            Panel #2
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                内容二
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            Panel #3
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                内容三
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="code-box-meta">
                <div class="code-box-title">
                    可收缩面板
                </div>
                <div>
                    <p>
                        利用
                        <a href="/components/collapse">
                            <code>collapse</code>
                        </a>，实现可收缩。
                    </p>
                </div>
                <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top">
                    <i class="fa fa-code"></i>
                </span>
            </section>
            <section class="code-box-wrapper">
                <pre><code class="language-markup">
&lt;div class="panel-group" id="accordion"&gt;
    &lt;div class="panel panel-default"&gt;
        &lt;div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"&gt;
            Panel #1
        &lt;/div&gt;
        &lt;div id="collapseOne" class="panel-collapse collapse in"&gt;
            &lt;div class="panel-body"&gt;
                内容一
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="panel panel-default"&gt;
        &lt;div class="panel-heading" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"&gt;
            Panel #2
        &lt;/div&gt;
        &lt;div id="collapseTwo" class="panel-collapse collapse"&gt;
            &lt;div class="panel-body"&gt;
                内容二
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="panel panel-default"&gt;
        &lt;div class="panel-heading" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"&gt;
            Panel #3
        &lt;/div&gt;
        &lt;div id="collapseThree" class="panel-collapse collapse"&gt;
            &lt;div class="panel-body"&gt;
                内容三
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
          </code></pre>
                <div class="code-box-wrapper-close">
                    <i class="fa fa-angle-double-up"></i>
                </div>
            </section>
        </section>
    </article>
</div>