<div class="container-fluid" id="textbox-page">
    <article class="si-article">
        <p class="si-info">对不同维度进行简单的标记和分类。</p>
        <h4>代码示例<i class="fa fa-code"></i></h4>
        <div class="code-demo col-sm-12">
            <section class="code-box">
                <section class="code-box-demo">
                    <div class="si-tag">
                        <span class="si-tag-text">标签一</span>
                    </div>
                    <div class="si-tag">
                        <span class="si-tag-text">标签二</span>
                    </div>
                </section>
                <section class="code-box-meta">
                    <div class="code-box-title">
                        基本用法
                    </div>
                    <div>
                        <p>
                            简单的展示，点击事件须自己绑定。
                        </p>
                    </div>
                    <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top"><i class="fa fa-code"></i></span>
                </section>
                <section class="code-box-wrapper">
                    <pre><code class="language-markup">
&lt;div class="si-tag"&gt;
    &lt;span class="si-tag-text"&gt;标签一&lt;/span&gt;
&lt;/div&gt;
&lt;div class="si-tag"&gt;
    &lt;span class="si-tag-text"&gt;标签二&lt;/span&gt;
&lt;/div&gt;
                          </code></pre>
                    <div class="code-box-wrapper-close">
                        <i class="fa fa-angle-double-up"></i>
                    </div>
                </section>
            </section>
            <section class="code-demo code-box">
                <section class="code-box-demo">
                    <div class="si-tag">
                        <span class="si-tag-text">标签一</span>
                    </div>
                    <div class="si-tag bg-primary">
                        <span class="si-tag-text">标签二</span>
                    </div>
                    <div class="si-tag bg-info">
                        <span class="si-tag-text">标签三</span>
                    </div>
                    <div class="si-tag bg-success">
                        <span class="si-tag-text">标签四</span>
                    </div>
                    <div class="si-tag bg-warning">
                        <span class="si-tag-text">标签五</span>
                    </div>
                    <div class="si-tag bg-danger">
                        <span class="si-tag-text">标签六</span>
                    </div>
                </section>
                <section class="code-box-meta">
                    <div class="code-box-title">
                        各种颜色
                    </div>
                    <div>
                        <p>
                            共六种基本颜色。
                        </p>
                    </div>
                    <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top"><i class="fa fa-code"></i></span>
                </section>
                <section class="code-box-wrapper">
                    <pre><code class="language-markup">
&lt;div class="si-tag"&gt;
    &lt;span class="si-tag-text"&gt;标签一&lt;/span&gt;
&lt;/div&gt;
&lt;div class="si-tag bg-primary"&gt;
    &lt;span class="si-tag-dot-inner"&gt;&lt;/span&gt;
    &lt;span class="si-tag-text"&gt;标签二&lt;/span&gt;
&lt;/div&gt;
&lt;div class="si-tag bg-info"&gt;
    &lt;span class="si-tag-dot-inner"&gt;&lt;/span&gt;
    &lt;span class="si-tag-text"&gt;标签三&lt;/span&gt;
&lt;/div&gt;
&lt;div class="si-tag bg-success"&gt;
    &lt;span class="si-tag-dot-inner"&gt;&lt;/span&gt;
    &lt;span class="si-tag-text"&gt;标签四&lt;/span&gt;
&lt;/div&gt;
&lt;div class="si-tag bg-warning"&gt;
    &lt;span class="si-tag-dot-inner"&gt;&lt;/span&gt;
    &lt;span class="si-tag-text"&gt;标签五&lt;/span&gt;
&lt;/div&gt;
&lt;div class="si-tag bg-danger"&gt;
    &lt;span class="si-tag-dot-inner"&gt;&lt;/span&gt;
    &lt;span class="si-tag-text"&gt;标签六&lt;/span&gt;
&lt;/div&gt;
                                      </code></pre>
                    <div class="code-box-wrapper-close">
                        <i class="fa fa-angle-double-up"></i>
                    </div>
                </section>
            </section>
        </div>
        <div class="code-demo col-sm-12">
            <section class="code-box">
                <section class="code-box-demo">
                    <div class="si-tag">
                        <span class="si-tag-text">标签一</span>
                        <i class="fa fa-close si-tag-close"></i>
                    </div>
                    <div class="si-tag si-tag-dot">
                        <span class="si-tag-dot-inner"></span>
                        <span class="si-tag-text">标签一</span>
                        <i class="fa fa-close si-tag-close"></i>
                    </div>
                </section>
                <section class="code-box-meta">
                    <div class="code-box-title">
                        可关闭
                    </div>
                    <div>
                        <p>
                            简单的标签拓展，点击事件须自己绑定。
                        </p>
                    </div>
                    <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top"><i class="fa fa-code"></i></span>
                </section>
                <section class="code-box-wrapper">
                    <pre><code class="language-markup">
&lt;div class="si-tag"&gt;
    &lt;span class="si-tag-text"&gt;标签一&lt;/span&gt;
    &lt;i class="fa fa-close si-tag-close"&gt;&lt;/i&gt;
&lt;/div&gt;
&lt;div class="si-tag"&gt;
    &lt;span class="si-tag-dot-inner"&gt;&lt;/span&gt;
    &lt;span class="si-tag-text"&gt;标签二&lt;/span&gt;
    &lt;i class="fa fa-close si-tag-close"&gt;&lt;/i&gt;
&lt;/div&gt;
                          </code></pre>
                    <div class="code-box-wrapper-close">
                        <i class="fa fa-angle-double-up"></i>
                    </div>
                </section>
            </section>
            <section class="code-box">
                <section class="code-box-demo">
                    <div class="si-tag si-tag-dot">
                        <span class="si-tag-dot-inner"></span>
                        <span class="si-tag-text">标签一</span>
                        <i class="fa fa-close si-tag-close"></i>
                    </div>
                    <div class="si-tag si-tag-dot">
                        <span class="si-tag-dot-inner bg-primary"></span>
                        <span class="si-tag-text">标签二</span>
                        <i class="fa fa-close si-tag-close"></i>
                    </div>
                    <div class="si-tag si-tag-dot">
                        <span class="si-tag-dot-inner bg-info"></span>
                        <span class="si-tag-text">标签三</span>
                        <i class="fa fa-close si-tag-close"></i>
                    </div>
                    <div class="si-tag si-tag-dot">
                        <span class="si-tag-dot-inner bg-success"></span>
                        <span class="si-tag-text">标签三</span>
                        <i class="fa fa-close si-tag-close"></i>
                    </div>
                    <div class="si-tag si-tag-dot">
                        <span class="si-tag-dot-inner bg-warning"></span>
                        <span class="si-tag-text">标签三</span>
                        <i class="fa fa-close si-tag-close"></i>
                    </div>
                    <div class="si-tag si-tag-dot">
                        <span class="si-tag-dot-inner bg-danger"></span>
                        <span class="si-tag-text">标签三</span>
                        <i class="fa fa-close si-tag-close"></i>
                    </div>
                </section>
                <section class="code-box-meta">
                    <div class="code-box-title">
                        dot模式各种颜色
                    </div>
                    <div>
                        <p>
                            共六种基本颜色。
                        </p>
                    </div>
                    <span class="code-icon code-expand-icon" title="代码" data-toggle="tooltip" data-placement="top"><i class="fa fa-code"></i></span>
                </section>
                <section class="code-box-wrapper">
                    <pre><code class="language-markup">
&lt;div class="si-tag"&gt;
    &lt;span class="si-tag-dot-inner"&gt;&lt;/span&gt;
    &lt;span class="si-tag-text"&gt;标签一&lt;/span&gt;
    &lt;i class="fa fa-close si-tag-close"&gt;&lt;/i&gt;
&lt;/div&gt;
&lt;div class="si-tag"&gt;
    &lt;span class="si-tag-dot-inner"&gt;&lt;/span&gt;
    &lt;span class="si-tag-text"&gt;标签一&lt;/span&gt;
    &lt;i class="fa fa-close si-tag-close"&gt;&lt;/i&gt;
&lt;/div&gt;
&lt;div class="si-tag bg-primary"&gt;
    &lt;span class="si-tag-dot-inner"&gt;&lt;/span&gt;
    &lt;span class="si-tag-text"&gt;标签二&lt;/span&gt;
    &lt;i class="fa fa-close si-tag-close"&gt;&lt;/i&gt;
&lt;/div&gt;
&lt;div class="si-tag bg-info"&gt;
    &lt;span class="si-tag-dot-inner"&gt;&lt;/span&gt;
    &lt;span class="si-tag-text"&gt;标签三&lt;/span&gt;
    &lt;i class="fa fa-close si-tag-close"&gt;&lt;/i&gt;
&lt;/div&gt;
&lt;div class="si-tag bg-success"&gt;
    &lt;span class="si-tag-dot-inner"&gt;&lt;/span&gt;
    &lt;span class="si-tag-text"&gt;标签四&lt;/span&gt;
    &lt;i class="fa fa-close si-tag-close"&gt;&lt;/i&gt;
&lt;/div&gt;
&lt;div class="si-tag bg-warning"&gt;
    &lt;span class="si-tag-dot-inner"&gt;&lt;/span&gt;
    &lt;span class="si-tag-text"&gt;标签五&lt;/span&gt;
    &lt;i class="fa fa-close si-tag-close"&gt;&lt;/i&gt;
&lt;/div&gt;
&lt;div class="si-tag bg-danger"&gt;
    &lt;span class="si-tag-dot-inner"&gt;&lt;/span&gt;
    &lt;span class="si-tag-text"&gt;标签六&lt;/span&gt;
    &lt;i class="fa fa-close si-tag-close"&gt;&lt;/i&gt;
&lt;/div&gt;
                              </code></pre>
                    <div class="code-box-wrapper-close">
                        <i class="fa fa-angle-double-up"></i>
                    </div>
                </section>
            </section>
        </div>
    </article>
</div>